<template>
  <MapsPreviewGeoJson v-if="geojson" :geojson="geojson" />
</template>

<script setup lang="ts">
import { ref, onMounted, computed } from "vue";
import { useRoute } from "vue-router";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import MapsPreviewGeoJson from "@/components/maps/MapsPreviewGeoJson.vue";

// DATA

const attributeId = computed(() =>
  Number(useRoute().params.attributeId as string)
);
const basesDataId = computed(() =>
  Number(useRoute().params.basesDataId as string)
);

const geojson = ref<GeoJSON.Feature>();

// ON MOUNTED
onMounted(() => {
  getBasesGeojson(attributeId.value, basesDataId.value);
});

// METHODS

async function getBasesGeojson(attributeId: number, basesDataId: number) {
  try {
    geojson.value = await requester.attributes.getBasesGeojson(
      attributeId,
      basesDataId
    );
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
