<template>
  <v-hover v-if="!edit">
    <template v-slot:default="{ isHovering, props }">
      <div
        v-if="!edit"
        class="d-flex align-center text-no-wrap"
        v-bind="props"
        @click="
          edit = true;
          form.index = propsComponent.geoserverLayer.index;
        "
        style="cursor: pointer"
      >
        <span :class="[isHovering ? 'font-weight-medium' : '']">{{
          propsComponent.geoserverLayer.index
        }}</span>
        <v-icon
          icon="mdi-pencil"
          size="small"
          :color="isHovering ? 'primary' : 'grey-lighten-2'"
          end
        />
      </div>
    </template>
  </v-hover>
  <v-text-field
    v-else
    v-model="form.index"
    variant="outlined"
    density="compact"
    append-icon="mdi-check-circle"
    append-inner-icon="mdi-undo"
    @click:append="updateIndex(propsComponent.geoserverLayer.id)"
    @click:append-inner="edit = false"
    hide-details
    style="min-width: 150px; max-width: 150px"
  />
</template>

<script setup lang="ts">
import { ref } from "vue";

import requester from "@/requester";

import { GeoserverLayer } from "@backPrisma/generated/client";
import { UpdateIndexGeoserverLayerDto } from "@backSrc/geoserver-layers/dto";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

// PROPS
export interface Props {
  geoserverLayer: GeoserverLayer;
}
const propsComponent = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "geoserver-layer-index-updated", geoserverLayer: GeoserverLayer): void;
}>();

// DATA

const edit = ref(false);

const form = ref({
  index: null,
});

// METHODS

async function updateIndex(geoserverLayerId: number) {
  try {
    const dto: UpdateIndexGeoserverLayerDto = {
      index: Number(form.value.index),
    };
    const geoserverLayer = await requester.geoserverLayers.updateIndex(
      geoserverLayerId,
      dto
    );
    emitAlertSuccess("Geoserver layer index updated successfully!");
    emit("geoserver-layer-index-updated", geoserverLayer);
    edit.value = false;
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
