<template>
  <div>
    <v-form ref="formRef">
      <v-row dense>
        <v-col cols="12">
          <v-autocomplete
            v-model="form.catalogId"
            label="Catalog *"
            :items="catalogs"
            item-value="id"
            item-title="name"
            :rules="rules.required"
            variant="outlined"
            :disabled="!!props.geoserverLayer"
          >
            <template v-slot:item="{ props, item }">
              <v-list-item
                v-bind="props"
                :title="item?.raw?.name"
                :subtitle="item?.raw?.description"
              />
            </template>
          </v-autocomplete>
        </v-col>
        <v-col cols="12">
          <v-autocomplete
            v-model="form.category"
            label="Category *"
            :items="itemsCategory"
            item-value="value"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model="form.name"
            label="Name *"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
      </v-row>
    </v-form>

    <div class="d-flex justify-space-between align-center">
      <v-btn
        prepend-icon="mdi-close"
        variant="outlined"
        :loading="loading.save"
        @click="cancel()"
      >
        Cancel
      </v-btn>
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        variant="flat"
        :loading="loading.save"
        @click="saveDebounce"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { debounce } from "lodash";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

import { Catalog, GeoserverLayer } from "@backPrisma/generated/client";
import {
  CreateGeoserverLayerDto,
  UpdateGeoserverLayerDto,
} from "@backSrc/geoserver-layers/dto";
import { getGeoserverLayerCategoryText } from "@/utils/geoserver-layers-helper.utils";

// PROPS
export interface Props {
  catalogs: Catalog[];
  geoserverLayer?: GeoserverLayer;
}
const props = withDefaults(defineProps<Props>(), {
  catalogs: () => [],
});

// EMITS
const emit = defineEmits<{
  (e: "geoserver-layer-created", geoserverLayer: GeoserverLayer): void;
  (e: "geoserver-layer-updated", geoserverLayer: GeoserverLayer): void;
  (e: "cancel"): void;
}>();

const loading = ref({
  save: false,
});

const formRef = ref();
const form = ref({
  catalogId: null,
  category: null,
  name: "",
});

const itemsCategory = ref([
  {
    value: "LIMITES_TERRITORIAIS",
    title: getGeoserverLayerCategoryText("LIMITES_TERRITORIAIS"),
  },
  {
    value: "EQUIPAMENTOS_PUBLICOS_CULTURA",
    title: getGeoserverLayerCategoryText("EQUIPAMENTOS_PUBLICOS_CULTURA"),
  },
  {
    value: "EQUIPAMENTOS_PUBLICOS_EDUCACAO",
    title: getGeoserverLayerCategoryText("EQUIPAMENTOS_PUBLICOS_EDUCACAO"),
  },
]);

const rules = ref({
  required: [(v: string) => !!v || "Required"],
});

onMounted(() => {
  fillForm();
});

function fillForm() {
  if (!props.geoserverLayer) return;
  form.value.catalogId = props.geoserverLayer.catalogId || null;
  form.value.category = props.geoserverLayer.category || null;
  form.value.name = props.geoserverLayer.name || "";
}

function clearForm() {
  form.value.catalogId = null;
  form.value.category = null;
  form.value.name = "";
}

const cancel = ref(() => {
  emit("cancel");
});

const saveDebounce = ref(debounce(save, 200));

async function save() {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;

  loading.value.save = true;
  try {
    const dto: CreateGeoserverLayerDto = {
      category: form.value.category,
      name: form.value.name?.trim(),
    };
    if (props.geoserverLayer) {
      const geoserverLayer = await requester.geoserverLayers.update(
        props.geoserverLayer.id,
        dto as UpdateGeoserverLayerDto
      );
      emit("geoserver-layer-updated", geoserverLayer);
      emitAlertSuccess("Geoserver layer successfully updated");
    } else {
      const geoserverLayer = await requester.catalogs.createGeoserverLayer(
        form.value.catalogId,
        dto
      );
      emit("geoserver-layer-created", geoserverLayer);
      emitAlertSuccess("Geoserver layer successfully created");
    }
    clearForm();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.save = false;
  }
}
</script>
