<template>
  <v-dialog
    :value="props.value"
    @update:model-value="updateModelValue"
    :width="props.width"
  >
    <v-card>
      <v-card-item>
        <v-card-title> Create geoserver layer </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <GeoserverLayersFormCreateUpdate
          :catalogs="catalogs"
          @cancel="updateModelValue(false)"
          @geoserver-layer-created="emit('geoserver-layer-created', $event)"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { Catalog, GeoserverLayer } from "@backPrisma/generated/client";

import GeoserverLayersFormCreateUpdate from "./GeoserverLayersFormCreateUpdate.vue";

// PROPS
export interface Props {
  catalogs: Catalog[];
  value?: boolean;
  width?: number | string;
}
const props = withDefaults(defineProps<Props>(), {
  catalogs: () => [],
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
  (e: "geoserver-layer-created", geoserverLayer: GeoserverLayer): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}
</script>
