<template>
  <div>
    <v-form ref="formRef">
      <v-row dense>
        <v-col cols="12">
          <v-text-field
            v-model="form.name"
            label="Name *"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="form.description"
            label="Description"
            rows="2"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-autocomplete
            v-model="form.type"
            label="Type *"
            :items="itemsType"
            item-value="value"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model="form.format"
            label="Format"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field v-model="form.uri" label="URI" variant="outlined" />
        </v-col>
        <v-col cols="12">
          <v-text-field v-model="form.owner" label="Owner" variant="outlined" />
        </v-col>
      </v-row>
    </v-form>

    <div class="d-flex justify-space-between align-center">
      <v-btn
        prepend-icon="mdi-close"
        variant="outlined"
        :loading="loading.save"
        @click="cancel()"
      >
        Cancel
      </v-btn>
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        variant="flat"
        :loading="loading.save"
        @click="saveDebounce"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";

import requester from "@/requester";

import { Catalog } from "@backPrisma/generated/client";
import { CreateCatalogDto, UpdateCatalogDto } from "@backSrc/catalogs/dto";
import { debounce } from "lodash";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

// PROPS
export interface Props {
  catalog?: Catalog;
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "catalog-created", catalog: Catalog): void;
  (e: "catalog-updated", catalog: Catalog): void;
  (e: "cancel"): void;
}>();

const loading = ref({
  save: false,
});

const formRef = ref();
const form = ref({
  name: "",
  description: "",
  type: null,
  format: "",
  uri: "",
  owner: "",
});

const itemsType = ref([
  { value: "NON_GEOSPATIAL", title: "Non-Geospatial" },
  { value: "GEOSPATIAL_POINT", title: "Geospatial Point" },
  { value: "GEOSPATIAL_LINE", title: "Geospatial Line" },
  { value: "GEOSPATIAL_POLYGON", title: "Geospatial Polygon" },
]);

const rules = ref({
  required: [(v: string) => !!v || "Required"],
});

onMounted(() => {
  fillForm();
});

function fillForm() {
  if (!props.catalog) return;
  form.value.name = props.catalog.name || "";
  form.value.description = props.catalog.description || "";
  form.value.type = props.catalog.type || null;
  form.value.format = props.catalog.format || "";
  form.value.uri = props.catalog.uri || "";
  form.value.owner = props.catalog.owner || "";
}

function clearForm() {
  form.value.name = "";
  form.value.description = "";
  form.value.type = null;
  form.value.format = "";
  form.value.uri = "";
  form.value.owner = "";
}

const cancel = ref(() => {
  emit("cancel");
});

const saveDebounce = ref(debounce(save, 200));

async function save() {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;

  loading.value.save = true;
  try {
    const dto: CreateCatalogDto = {
      name: form.value.name?.trim(),
      description: form.value.description?.trim(),
      type: form.value.type,
      format: form.value.format?.trim(),
      uri: form.value.uri?.trim(),
      owner: form.value.owner?.trim(),
    };
    if (props.catalog) {
      const catalog = await requester.catalogs.update(
        props.catalog.id,
        dto as UpdateCatalogDto
      );
      emit("catalog-updated", catalog);
      emitAlertSuccess("Catalog successfully updated");
    } else {
      const catalog = await requester.catalogs.create(dto);
      emit("catalog-created", catalog);
      emitAlertSuccess("Catalog successfully created");
    }
    clearForm();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.save = false;
  }
}
</script>
