<template>
  <span class="d-flex align-center">
    <v-progress-circular
      v-if="!props.hideProgress && progress"
      indeterminate
      :color="color"
      :size="props.iconSize"
      class="mr-2"
    />
    <v-icon
      v-else
      :icon="icon"
      :color="color"
      :size="props.iconSize"
      class="mr-2"
    />
    <span :class="`text-${color} font-weight-medium`">{{ text }}</span>
  </span>
</template>

<script setup lang="ts">
import { computed } from "vue";

import { DataIngestionLog } from "@backPrisma/generated/client";

// PROPS
export interface Props {
  dataIngestionLog: DataIngestionLog;
  iconSize?: number | string;
  hideProgress?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  hideProgress: false,
  iconSize: 18,
});

// DATA

const dataIngestionLogStatusHelper = {
  CREATED: {
    text: "Created",
    color: "primary",
    icon: "mdi-new-box",
    progress: false,
  },
  FILE_UPLOAD_STARTED: {
    text: "File upload started",
    color: "warning",
    icon: "mdi-file-upload",
    progress: true,
  },
  FILE_UPLOAD_SUCCESS: {
    text: "File uploaded",
    color: "success",
    icon: "mdi-file-check",
    progress: false,
  },
  FILE_UPLOAD_FAILURE: {
    text: "File upload failed",
    color: "error",
    icon: "mdi-file-remove",
    progress: false,
  },
  FILE_PARSING_STARTED: {
    text: "File parsing started",
    color: "warning",
    icon: "mdi-text-box-edit",
    progress: true,
  },
  FILE_PARSING_SUCCESS: {
    text: "File parsed",
    color: "success",
    icon: "mdi-text-box-check",
    progress: false,
  },
  FILE_PARSING_FAILURE: {
    text: "File parsing failed",
    color: "error",
    icon: "mdi-text-box-remove",
    progress: false,
  },
  DATA_LOADING_STARTED: {
    text: "Data loading started",
    color: "warning",
    icon: "mdi-database-import",
    progress: true,
  },
  DATA_LOADING_SUCCESS: {
    text: "Data loaded",
    color: "success",
    icon: "mdi-database-check",
    progress: false,
  },
  DATA_LOADING_FAILURE: {
    text: "Data loading failed",
    color: "error",
    icon: "mdi-database-remove",
    progress: false,
  },
};

const color = computed(() => getValue("color"));
const icon = computed(() => getValue("icon"));
const progress = computed(() => getValue("progress"));
const text = computed(() => getValue("text"));

function getValue(key: string) {
  return dataIngestionLogStatusHelper?.[props.dataIngestionLog?.status]?.[key];
}
</script>
