<template>
  <div>
    <v-form ref="formRef">
      <v-row dense>
        <v-col cols="12">
          <v-autocomplete
            v-model="form.type"
            label="Type *"
            :items="itemsType"
            item-value="value"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
      </v-row>
    </v-form>

    <div class="d-flex justify-space-between align-center">
      <v-btn
        prepend-icon="mdi-close"
        variant="outlined"
        :loading="loading.save"
        @click="cancel()"
      >
        Cancel
      </v-btn>
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        variant="flat"
        :loading="loading.save"
        @click="saveDebounce"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";

import requester from "@/requester";

import { DataIngestion } from "@backPrisma/generated/client";
import { CreateDataIngestionDto } from "@backSrc/data-ingestions/dto";
import { debounce } from "lodash";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

// PROPS
export interface Props {
  versionId: number;
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "data-ingestion-created", dataIngestion: DataIngestion): void;
  (e: "cancel"): void;
}>();

const loading = ref({
  save: false,
});

const formRef = ref();
const form = ref({
  type: null,
});

const itemsType = ref([
  { value: "CSV", title: "CSV" },
  { value: "GEOJSON", title: "GeoJSON" },
  { value: "JSON", title: "JSON" },
  { value: "SHAPEFILE", title: "Shapefile" },
]);

const rules = ref({
  required: [(v: string) => !!v || "Required"],
});

function clearForm() {
  form.value.type = "";
}

const cancel = ref(() => {
  emit("cancel");
});

const saveDebounce = ref(debounce(save, 200));

async function save() {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;

  loading.value.save = true;
  try {
    const dto: CreateDataIngestionDto = {
      type: form.value.type || null,
    };
    const dataIngestion = await requester.versions.createDataIngestion(
      props.versionId,
      dto
    );
    emit("data-ingestion-created", dataIngestion);
    emitAlertSuccess("Data ingestion successfully created");
    clearForm();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.save = false;
  }
}
</script>
