<template>
  <DataIngestionsLogStatus v-if="currentLog" :dataIngestionLog="currentLog" />
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";

import { emitAlertError } from "@/plugins/eventBus";

import { DataIngestionLog } from "@backPrisma/generated/client";
import requester from "@/requester";
import DataIngestionsLogStatus from "./DataIngestionsLogStatus.vue";
import { socket } from "@/plugins/socketIo";

// PROPS
export interface Props {
  dataIngestionId: number;
}
const props = defineProps<Props>();

// DATA

const currentLog = ref<DataIngestionLog>();

// EVENTS

socket.on("dataIngestionLog.created", (...args) => {
  const dataIngestionId = args?.[0]?.dataIngestionId;
  if (dataIngestionId === props.dataIngestionId) {
    findCurrentLog(props.dataIngestionId);
  }
});

// ON MOUNTED
onMounted(() => {
  findCurrentLog(props.dataIngestionId);
});

async function findCurrentLog(dataIngestionId: number) {
  try {
    currentLog.value = await requester.dataIngestions.findCurrentLog(
      dataIngestionId
    );
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
