<script setup lang="ts">
import Navbar from './components/Navbar.vue'
</script>

<template class="tw-h-screen tw-w-screen">
  <Navbar></Navbar>
  <router-view class="tw-h-full"></router-view>
</template>
