<template>
  <div v-if="catalog">
    <v-card color="black" variant="flat" class="mb-4">
      <v-card-text>
        <pre>{{ catalog }}</pre>
      </v-card-text>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { inject, Ref } from "vue";

import { Catalog } from "@backPrisma/generated/client";

// INJECT
const catalog = inject<Ref<Catalog>>("catalog");
</script>
