<template>
  <div class="d-flex align-center">
    <v-icon icon="mdi-list-box" class="text-h4" start />
    <h1 class="text-h4">Catalogs</h1>
  </div>
  <v-divider class="mt-2 mb-4" />
  <!-- DIALOG CREATE CATALOG -->
  <CatalogsDialogCreate
    v-model="dialogCreateCatalog"
    @catalog-created="onCatalogCreated"
  />

  <!-- DIALOG UPDATE ATTRIBUTE -->
  <CatalogsDialogUpdate
    v-if="selectedCatalog"
    :key="selectedCatalog.id"
    v-model="dialogUpdateCatalog"
    :catalog="selectedCatalog"
    @catalog-updated="onCatalogUpdated"
  />

  <!-- SEARCH BAR && CREATE BUTTON -->
  <div class="d-flex align-center mb-2">
    <v-text-field
      v-model="search"
      placeholder="Search"
      variant="outlined"
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
    />
    <v-btn
      prepend-icon="mdi-plus"
      color="primary"
      variant="flat"
      class="ml-2"
      @click="dialogCreateCatalog = true"
    >
      Catalog
    </v-btn>
  </div>
  <!-- TABLE CATALOGS -->
  <v-card variant="outlined" color="grey-lighten-2">
    <v-table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Format</th>
          <th>URI</th>
          <th>Owner</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Details</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in catalogsFiltered" :key="item.id">
          <td>
            <router-link
              class="font-weight-medium text-decoration-none"
              :to="{ name: 'CatalogsView', params: { catalogId: item.id } }"
            >
              {{ item.id }}
            </router-link>
          </td>
          <td>{{ item.name }}</td>
          <td>
            <span v-if="item.description" v-text="item.description" />
            <span v-else class="text-disabled" v-text="'N/A'" />
          </td>
          <td>
            <div class="d-flex align-center">
              <v-icon
                :icon="getCatalogTypeIcon(item.type)"
                size="small"
                color="grey-darken-2"
                class="mr-2"
              />
              <span v-text="getCatalogTypeText(item.type)" />
            </div>
          </td>
          <td>
            <span v-if="item.format" v-text="item.format" />
            <span v-else class="text-disabled" v-text="'N/A'" />
          </td>
          <td>
            <span v-if="item.uri" v-text="item.uri" />
            <span v-else class="text-disabled" v-text="'N/A'" />
          </td>
          <td>
            <span v-if="item.owner" v-text="item.owner" />
            <span v-else class="text-disabled" v-text="'N/A'" />
          </td>
          <td>{{ filterFormatDate(item.createdAt) }}</td>
          <td>{{ filterFormatDate(item.updatedAt) }}</td>
          <td>
            <v-btn
              icon="mdi-information"
              color="info"
              variant="text"
              :to="{ name: 'CatalogsView', params: { catalogId: item.id } }"
            />
          </td>
          <td>
            <v-btn
              icon="mdi-pencil"
              color="warning"
              variant="text"
              @click="editCatalog(item)"
            />
          </td>
          <td>
            <v-btn
              icon="mdi-delete"
              color="error"
              variant="text"
              @click="removeCatalog(item.id)"
            />
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from "vue";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { cleanString } from "@/utils/string-functions.utils";
import { filterFormatDate } from "@/utils/filters";

import { Catalog } from "@backPrisma/generated/client";

import CatalogsDialogCreate from "@/components/catalogs/CatalogsDialogCreate.vue";
import CatalogsDialogUpdate from "@/components/catalogs/CatalogsDialogUpdate.vue";
import {
  getCatalogTypeIcon,
  getCatalogTypeText,
} from "@/utils/catalogs-helper.utils";

const dialogCreateCatalog = ref(false);
const dialogUpdateCatalog = ref(false);

const search = ref("");
const cleanSearch = computed(() => cleanString(search.value));

const catalogs = ref<Catalog[]>([]);
const catalogsFiltered = computed(() =>
  catalogs.value.filter((catalog) => {
    return (
      cleanString(catalog.name).includes(cleanSearch.value) ||
      cleanString(catalog.description || "").includes(cleanSearch.value)
    );
  })
);

const selectedCatalog = ref<Catalog>();

onMounted(() => {
  findAllCatalogs();
});

function onCatalogCreated() {
  dialogCreateCatalog.value = false;
  findAllCatalogs();
}

function onCatalogUpdated(catalog: Catalog) {
  const index = catalogs.value.findIndex((el) => el.id === catalog.id);
  if (index >= 0) {
    catalogs.value[index] = catalog;
  }
  dialogUpdateCatalog.value = false;
}

function editCatalog(catalog: Catalog) {
  selectedCatalog.value = catalog;
  dialogUpdateCatalog.value = true;
}

async function removeCatalog(catalogId: number) {
  try {
    await requester.catalogs.remove(catalogId);
    emitAlertSuccess("Catalog successfully removed");
    const index = catalogs.value.findIndex(
      (catalog) => catalog.id === catalogId
    );
    if (index >= 0) {
      catalogs.value.splice(index, 1);
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function findAllCatalogs() {
  try {
    catalogs.value = await requester.catalogs.findAll();
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
