<template>
  <div class="d-flex align-center">
    <v-icon icon="mdi-layers" class="text-h4" start />
    <h1 class="text-h4">Geoserver Layers</h1>
  </div>
  <v-divider class="mt-2 mb-4" />
  <!-- DIALOG CREATE -->
  <GeoserverLayersDialogCreate
    v-model="dialogCreateGeoserverLayer"
    :catalogs="catalogsGeospatial"
    @geoserver-layer-created="onGeoserverLayerCreated"
  />
  <!-- DIALOG UPDATE -->
  <GeoserverLayersDialogUpdate
    v-if="selectedGeoserverLayer"
    v-model="dialogUpdateGeoserverLayer"
    :catalogs="catalogsGeospatial"
    :geoserverLayer="selectedGeoserverLayer"
    @geoserver-layer-updated="onGeoserverLayerUpdated"
  />
  <!-- SEARCH BAR && CREATE BUTTON -->
  <div class="d-flex align-center mb-2">
    <v-text-field
      v-model="search"
      placeholder="Search"
      variant="outlined"
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
    />
    <v-btn
      prepend-icon="mdi-plus"
      color="primary"
      variant="flat"
      class="ml-2"
      @click="dialogCreateGeoserverLayer = true"
    >
      Geoserver Layer
    </v-btn>
  </div>
  <!-- TABLE GEOSERVER LAYERS -->
  <v-card color="grey-lighten-2" variant="outlined">
    <v-table>
      <thead>
        <tr>
          <th>Index</th>
          <th>Name</th>
          <th>Catalog</th>
          <th class="text-center">Versions</th>
          <th>Default version</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <template
        v-for="(layers, category) in geoserverLayersGrouped"
        :key="category"
      >
        <thead>
          <tr class="bg-grey-lighten-3">
            <th colspan="9">
              {{ getGeoserverLayerCategoryText(category as string) }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in layers" :key="item.id">
            <td>
              <GeoserverLayersFormUpdateIndex
                :geoserverLayer="item"
                @geoserver-layer-index-updated="onGeoserverLayerIndexUpdated()"
              />
            </td>
            <td>{{ item.name }}</td>
            <td>
              <router-link
                :to="{
                  name: 'CatalogsView',
                  params: { catalogId: item.catalog.id },
                }"
                exact
              >
                {{ item.catalog.name }}
              </router-link>
            </td>
            <td class="text-center">
              <span title="Published versions">
                {{ item.catalog.versions.filter((el) => el.published).length }}
              </span>
              <span class="text-disabled" title="All versions">
                ({{ item.catalog.versions.length }})
              </span>
            </td>
            <td>
              <span v-if="getDefaultVersion(item.catalog.versions)">
                <router-link
                  :to="{
                    name: 'VersionsView',
                    params: {
                      catalogId: item.catalog.id,
                      versionId: getDefaultVersion(item.catalog.versions)?.id,
                    },
                  }"
                  exact
                >
                  {{ getDefaultVersion(item.catalog.versions)?.name }}
                </router-link>
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
            <td>{{ filterFormatDate(item.createdAt) }}</td>
            <td>{{ filterFormatDate(item.updatedAt) }}</td>
            <td>
              <v-btn
                icon="mdi-pencil"
                color="warning"
                variant="text"
                @click="editGeoserverLayer(item)"
              />
            </td>
            <td>
              <v-btn
                icon="mdi-delete"
                color="error"
                variant="text"
                @click="removeGeoserverLayer(item.id)"
              />
            </td>
          </tr>
        </tbody>
      </template>
    </v-table>
  </v-card>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from "vue";
import { groupBy } from "lodash";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { getGeoserverLayerCategoryText } from "@/utils/geoserver-layers-helper.utils";
import { filterFormatDate } from "@/utils/filters";
import { cleanString } from "@/utils/string-functions.utils";

import { Catalog, GeoserverLayer, Version } from "@backPrisma/generated/client";

import GeoserverLayersDialogCreate from "@/components/geoserver-layers/GeoserverLayersDialogCreate.vue";
import GeoserverLayersDialogUpdate from "@/components/geoserver-layers/GeoserverLayersDialogUpdate.vue";
import GeoserverLayersFormUpdateIndex from "@/components/geoserver-layers/GeoserverLayersFormUpdateIndex.vue";

// DATA

const dialogCreateGeoserverLayer = ref(false);
const dialogUpdateGeoserverLayer = ref(false);

const selectedGeoserverLayer = ref<GeoserverLayer>();

const search = ref("");
const cleanSearch = computed(() => cleanString(search.value));

const geoserverLayers = ref<Array<GeoserverLayer & { catalog: Catalog }>>([]);

const geoserverLayersFiltered = computed(() => {
  if (!search.value) return geoserverLayers.value;
  return geoserverLayers.value.filter((layer) => {
    return (
      cleanString(layer.name).includes(cleanSearch.value) ||
      cleanString(getGeoserverLayerCategoryText(layer.category)).includes(
        cleanSearch.value
      )
    );
  });
});
const geoserverLayersGrouped = computed(() =>
  groupBy(geoserverLayersFiltered.value, (layer) => layer.category)
);

const catalogs = ref<Catalog[]>([]);
const catalogsGeospatial = computed(() =>
  catalogs.value.filter((catalog) => !["NON_GEOSPATIAL"].includes(catalog.type))
);

// ON MOUNTED
onMounted(() => {
  findAllGeoserverLayers();
  findAllCatalogs();
});

// METHODS

function getDefaultVersion(versions: Version[]) {
  return versions.find((version) => version.default);
}

function onGeoserverLayerCreated() {
  dialogCreateGeoserverLayer.value = false;
  findAllGeoserverLayers();
}

function onGeoserverLayerUpdated() {
  dialogUpdateGeoserverLayer.value = false;
  findAllGeoserverLayers();
}

function onGeoserverLayerIndexUpdated() {
  findAllGeoserverLayers();
}

function editGeoserverLayer(geoserverLayer: GeoserverLayer) {
  dialogUpdateGeoserverLayer.value = true;
  selectedGeoserverLayer.value = geoserverLayer;
}

async function removeGeoserverLayer(geoserverLayerId: number) {
  try {
    await requester.geoserverLayers.remove(geoserverLayerId);
    emitAlertSuccess("Geoserver layer successfully removed");
    findAllGeoserverLayers();
  } catch (err) {
    emitAlertError(err);
  }
}

async function findAllGeoserverLayers() {
  try {
    geoserverLayers.value = await requester.geoserverLayers.findAll();
  } catch (err) {
    emitAlertError(err);
  }
}

async function findAllCatalogs() {
  try {
    catalogs.value = await requester.catalogs.findAll();
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
