<script setup lang="ts">
import GradientCanvas from '../../components/GradientCanvas.vue'
import Parceiros from '../../components/Parceiros.vue';
import Rede from '../../components/Rede.vue';
</script>

<template>
  <div class="tw-w-screen tw-overflow-hidden tw-relative tw-max-w-full">
    <div>
      <GradientCanvas></GradientCanvas>
      <div class="tw-flex tw-justify-center tw-flex-row tw-py-10">
        <div class="tw-flex tw-flex-col tw-shrink tw-flex-wrap tw-content-end tw-space-y-1 tw-self-center tw-items-start">
          <h1 class="tw-text-6xl tw-text-left tw-font-extrabold tw-w-1/2 tw-py-2">O mapa da cultura e educação no Brasil.</h1>
          <p class="tw-text-xl tw-text-left tw-font-light tw-w-1/2 tw-py-2">O portal CulturaEduca 2.0 é uma ferramenta criada para facilitar o diálogo entre educação e cultura, entre a escola e as instituições, entre as iniciativas culturais e pessoas próximas a ela.</p>
          <div class="tw-flex tw-flex-row tw-items-center tw-space-x-6">
            <button @click="this.$router.push('/app')" class="tw-bg-rose-700 tw-flex tw-flex-row tw-items-center hover:tw-bg-rose-500 tw-text-white tw-text-light tw-p-2">
            Ver o mapa
              <!-- Icon de seta do heroicons, não deveria estar copiado. TODO: Instalar lib de ícone -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="tw-w-5 tw-h-5">
                <path fill-rule="evenodd" d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z" clip-rule="evenodd" />
              </svg>
            </button>
            <p @click="this.$router.push('/sobre')" class="tw-text-rose-500 hover:tw-text-rose-300 tw-flex tw-flex-row tw-items-center tw-font-bold tw-p-2">Saiba mais</p>
          </div>
        </div>
        <div class="tw-flex tw-flex-col tw-grow tw-flex-wrap tw-content-center tw-self-center tw-items-start tw-backdrop-blur-lg tw-select-none">
          <img src="../../assets/ce_screenshot.png" class="tw-object-cover tw-w-10/12 tw-overflow-hidden tw-drop-shadow-md tw-rounded-lg">
        </div>
      </div>
    </div>
    <Parceiros/>
    <Rede></Rede>
  </div>
</template>
