<template>
  <v-app>
    <v-app-bar density="compact" absolute>
      <v-app-bar-nav-icon @click="drawer = !drawer" />
      <v-app-bar-title>CE Protótipo - Plataforma</v-app-bar-title>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" temporary>
      <v-list>
        <v-list-item v-for="(item, index) in menu" :key="index" :to="item.to">
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <router-view />
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
const drawer = ref(false);
const menu = ref([
  { title: "Teste D3 SP", to: { name: "MapsD3Sp" } },
  { title: "Teste Leaflet", to: { name: "MapsLeaflet" } },
  { title: "Teste OpenLayers", to: { name: "MapsOpenLayers" } },
  {
    title: "Teste Geoserver Layers Menu",
    to: { name: "MapsGeoserverLayersMenu" },
  },
  {
    title: "Teste Geoserver Layers + Mapa",
    to: { name: "MapsLeafletCustomMenu" },
  },
]);
</script>
