<template>
  <v-dialog
    :value="props.value"
    @update:model-value="updateModelValue"
    :width="props.width"
  >
    <v-card>
      <v-card-item>
        <v-card-title> Create attribute </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <AttributesFormCreateUpdate
          :versionId="props.versionId"
          @cancel="updateModelValue(false)"
          @attribute-created="emit('attribute-created', $event)"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { Attribute } from "@backPrisma/generated/client";

import AttributesFormCreateUpdate from "./AttributesFormCreateUpdate.vue";

// PROPS
export interface Props {
  versionId: number;
  value?: boolean;
  width?: number | string;
}
const props = withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
  (e: "attribute-created", attribute: Attribute): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}
</script>
