<template>
  <div>
    <v-form ref="formRef">
      <v-row dense>
        <v-col cols="12">
          <v-text-field
            v-model="form.name"
            label="Name *"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="form.description"
            label="Description"
            rows="2"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-autocomplete
            v-model="form.type"
            label="Type *"
            :items="itemsType"
            item-value="value"
            :rules="rules.required"
            variant="outlined"
          >
            <template v-slot:item="{ props, item }">
              <v-list-item
                v-bind="props"
                :title="item?.raw?.title"
                :subtitle="item?.raw?.description"
              ></v-list-item>
            </template>
          </v-autocomplete>
        </v-col>
        <v-col cols="12" sm="4">
          <v-radio-group
            v-model="form.optional"
            label="Optional *"
            inline
            :rules="rules.requiredBoolean"
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
        </v-col>
        <v-col cols="12" sm="4">
          <v-radio-group
            v-model="form.indexable"
            label="Indexable *"
            inline
            :rules="rules.requiredBoolean"
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
        </v-col>
        <v-col cols="12" sm="4">
          <v-radio-group
            v-model="form.unique"
            label="Unique *"
            inline
            :rules="rules.requiredBoolean"
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.defaultValue"
            label="Default value"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field v-model="form.unit" label="Unit" variant="outlined" />
        </v-col>
        <v-col cols="12" sm="8">
          <v-textarea
            v-model="form.decodeValue"
            label="Decode value"
            rows="2"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12" sm="4" :rules="rules.required">
          <v-radio-group
            v-model="form.sensitiveData"
            label="Sensitive data *"
            inline
            :rules="rules.requiredBoolean"
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
        </v-col>
      </v-row>
    </v-form>

    <div class="d-flex justify-space-between align-center">
      <v-btn
        prepend-icon="mdi-close"
        variant="outlined"
        :loading="loading.save"
        @click="cancel()"
      >
        Cancel
      </v-btn>
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        variant="flat"
        :loading="loading.save"
        @click="save()"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";

import requester from "@/requester";

import { Attribute } from "@backPrisma/generated/client";
import {
  CreateAttributeDto,
  UpdateAttributeDto,
} from "@backSrc/attributes/dto";
import {
  TypeAttributeEnum,
  typesAttributesDescriptions,
} from "@backSrc/attributes/attributes.constants";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

// PROPS
export interface Props {
  versionId: number;
  attribute?: Attribute;
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "attribute-created", attribute: Attribute): void;
  (e: "attribute-updated", attribute: Attribute): void;
  (e: "cancel"): void;
}>();

const loading = ref({
  save: false,
});

const formRef = ref();
const form = ref({
  name: "",
  description: "",
  type: "",
  optional: true,
  indexable: false,
  unique: false,
  defaultValue: "",
  unit: "",
  decodeValue: "",
  sensitiveData: false,
});

const rules = ref({
  required: [(v: string) => !!v || "Required"],
  requiredBoolean: [(v: boolean) => v === true || v === false || "Required"],
});

const itemsType = ref(
  Object.values(TypeAttributeEnum).map((value) => ({
    description: typesAttributesDescriptions[value],
    title: value,
    value: value,
  }))
);

onMounted(() => {
  fillForm();
});

function fillForm() {
  if (!props.attribute) return;
  form.value.name = props.attribute.name;
  form.value.description = props.attribute.description || "";
  form.value.type = props.attribute.type;
  form.value.optional = props.attribute.optional;
  form.value.indexable = props.attribute.indexable;
  form.value.unique = props.attribute.unique;
  form.value.defaultValue = props.attribute.defaultValue || "";
  form.value.unit = props.attribute.unit || "";
  form.value.decodeValue = props.attribute.decodeValue;
  form.value.sensitiveData = props.attribute.sensitiveData;
}

function clearForm() {
  form.value.name = "";
  form.value.description = "";
  form.value.type = "";
  form.value.optional = true;
  form.value.indexable = false;
  form.value.unique = false;
  form.value.defaultValue = "";
  form.value.unit = "";
  form.value.decodeValue = "";
  form.value.sensitiveData = false;
}

const cancel = ref(() => {
  emit("cancel");
});

const save = ref(async () => {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;

  loading.value.save = true;
  try {
    const dto: CreateAttributeDto = {
      name: form.value.name?.trim() || null,
      description: form.value.description?.trim() || null,
      type: form.value.type?.trim() || null,
      optional: form.value.optional,
      indexable: form.value.indexable,
      unique: form.value.unique,
      defaultValue: form.value.defaultValue?.trim() || null,
      unit: form.value.unit?.trim() || null,
      decodeValue: form.value.decodeValue?.trim() || null,
      sensitiveData: form.value.sensitiveData,
    };
    if (props.attribute) {
      const attribute = await requester.attributes.update(
        props.attribute.id,
        dto as UpdateAttributeDto
      );
      emit("attribute-updated", attribute);
      emitAlertSuccess("Attribute successfully updated");
    } else {
      const attribute = await requester.versions.createAttribute(
        props.versionId,
        dto
      );
      emit("attribute-created", attribute);
      emitAlertSuccess("Attribute successfully created");
    }
    clearForm();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.save = false;
  }
});
</script>
