<template>
  <v-container style="position: fixed; padding-top: 60px; top: 0; right: 0; z-index: 1000">
    <h1>Geoserver Layers Menu</h1>
    <v-row>
      <v-col cols="12" md="6" xl="3">
        <v-card>
          <v-list>
            <template
              v-for="(layers, category) in geoserverLayersGrouped"
              :key="category"
            >
              <v-list-subheader>{{ category }}</v-list-subheader>
              <v-list-item v-for="layer in layers" :key="layer.id">
                <template v-slot:prepend>
                  <v-list-item-action start>
                    <v-checkbox-btn v-model="layer._selected"></v-checkbox-btn>
                  </v-list-item-action>
                </template>
                <template v-slot:append>
                  <v-list-item-action end>
                    <v-menu
                      location="left center"
                      :close-on-content-click="false"
                    >
                      <template v-slot:activator="{ props }">
                        <v-btn
                          icon="mdi-dots-vertical"
                          density="compact"
                          variant="text"
                          v-bind="props"
                        />
                      </template>
                      <v-card>
                        <v-card-text>
                          <v-autocomplete
                            v-model="layer._selectedVersionId"
                            :items="layer.catalog.versions"
                            item-value="id"
                            item-title="name"
                            variant="outlined"
                            density="compact"
                            hide-details
                          />
                        </v-card-text>
                      </v-card>
                    </v-menu>
                  </v-list-item-action>
                </template>
                <v-list-item-title>
                  {{ layer.name }}
                </v-list-item-title>
              </v-list-item>
            </template>
          </v-list>
        </v-card>
        <pre>{{ selectedGeoserverLayersVersions }}</pre>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import { ref, computed } from "vue";
import { groupBy } from "lodash";
import requester from "@/requester";
import { onMounted } from "vue";

const geoserverLayers = ref([]);

const geoserverLayersGrouped = computed(() =>
  groupBy(geoserverLayers.value, (layer) => layer.category)
);

const selectedGeoserverLayersVersions = computed(() => {
  return geoserverLayers.value
    .filter((layer) => layer._selected)
    .map(
      (layer) =>
        layer.catalog.versions.find(
          (version) => version.id === layer._selectedVersionId
        )?.tableName
    );
});

onMounted(() => {
  findAllPublishedGeoserverLayers();
});

async function findAllPublishedGeoserverLayers() {
  try {
    const resData = await requester.geoserverLayers.findAllPublished();
    geoserverLayers.value = resData.map((layer) => ({
      ...layer,
      _selected: false,
      _selectedVersionId:
        layer.catalog.versions.find((version) => version.default)?.id || null,
    }));
  } catch (err) {
    console.error(err);
  }
}
</script>
