<template>
  <div ref="mapContainer" style="width: 100%; height: 100%" />
  <v-container
    style="position: fixed; padding-top: 60px; top: 0; right: 0; z-index: 1000"
  >
    <h1>Geoserver Layers Menu</h1>
    <v-row>
      <v-col cols="12" md="6" xl="3">
        <v-card>
          <v-list>
            <template
              v-for="(layers, category) in geoserverLayersGrouped"
              :key="category"
            >
              <v-list-subheader>{{ category }}</v-list-subheader>
              <v-list-item v-for="layer in layers" :key="layer.id">
                <template v-slot:prepend>
                  <v-list-item-action start>
                    <v-checkbox-btn
                      @click="handleLayer(layer)"
                      v-model="layer._selected"
                    ></v-checkbox-btn>
                  </v-list-item-action>
                </template>
                <template v-slot:append>
                  <v-list-item-action end>
                    <v-menu
                      location="left center"
                      :close-on-content-click="false"
                    >
                      <template v-slot:activator="{ props }">
                        <v-btn
                          icon="mdi-dots-vertical"
                          density="compact"
                          variant="text"
                          v-bind="props"
                        />
                      </template>
                      <v-card>
                        <v-card-text>
                          <v-autocomplete
                            v-model="layer._selectedVersionId"
                            :items="layer.catalog.versions"
                            item-value="id"
                            item-title="name"
                            variant="outlined"
                            density="compact"
                            hide-details
                          />
                        </v-card-text>
                      </v-card>
                    </v-menu>
                  </v-list-item-action>
                </template>
                <v-list-item-title>
                  {{ layer.name }}
                </v-list-item-title>
              </v-list-item>
            </template>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
import { computed, onMounted, toRaw } from "vue";
import { Map, TileLayer, Marker, Circle, CRS } from "leaflet";
import "leaflet/dist/leaflet.css";
import { ref } from "vue";
import requester from "@/requester";
import { groupBy } from "lodash";

const {
  VITE_GEOSERVER_URL_WMS,
  VITE_GEOSERVER_WORKSPACE,
  VITE_INITIAL_LONGITUDE,
  VITE_INITIAL_LATITUDE,
  VITE_INITIAL_MAP_ZOOM,
} = import.meta.env;

const initialValues = {
  longitude: Number(VITE_INITIAL_LONGITUDE),
  latitude: Number(VITE_INITIAL_LATITUDE),
  zoom: Number(VITE_INITIAL_MAP_ZOOM),
  circleRadiusM: 1000,
};

const tileLayerOptions = {
  url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  maxZoom: 18,
};

const handleLayer = (layer: any) => {
  const wmsLayer = wmsLayers.value.find((wms) => wms.name == layer.name);

  if (!layer._selected) {
    toRaw(wmsLayer.wms).addTo(map);
  } else {
    toRaw(wmsLayer.wms).removeFrom(map);
  }
};

const geoserver = {
  url: VITE_GEOSERVER_URL_WMS,
};

const geoserverLayersGrouped = computed(() =>
  groupBy(geoserverLayers.value, (layer) => layer.category)
);

const mapContainer = ref();

let map: Map;
let tiles: TileLayer;
let marker: Marker;
let circle: Circle;

function initMap() {
  // Init map
  map = new Map(mapContainer.value).setView(
    { lat: initialValues.latitude, lng: initialValues.longitude },
    initialValues.zoom
  );

  // Add tiles - OpenStretMap tiles
  tiles = new TileLayer(tileLayerOptions.url, {
    attribution: tileLayerOptions.attribution,
    maxZoom: tileLayerOptions.maxZoom,
  });
  tiles.addTo(map);

  // Add marker
  marker = new Marker({
    lat: initialValues.latitude,
    lng: initialValues.longitude,
  });
  marker.addTo(map);

  // Add circle
  circle = new Circle(marker.getLatLng(), {
    radius: initialValues.circleRadiusM,
    color: "red",
    fillColor: "red",
    fillOpacity: 0.25,
  });
  circle.addTo(map);
}

const geoserverLayers = ref([]);

const wmsLayers = ref([]);

async function findAllPublishedGeoserverLayers() {
  try {
    const resData = await requester.geoserverLayers.findAllPublished();
    geoserverLayers.value = resData.map((layer) => {
      return {
        ...layer,
        _selected: false,
        _selectedVersionId:
          layer.catalog.versions.find((version) => version.default)?.id || null,
      };
    });

    // Adiciona cada layer ao GeoServer
    geoserverLayers.value.forEach((layer) => {
      const selectedVersion = layer.catalog.versions.find(
        (version) => version.id === layer._selectedVersionId
      );

      const geoserverLayerConfig = {
        layers: `${VITE_GEOSERVER_WORKSPACE}:${selectedVersion.tableName}`,
        format: "image/png",
        attribution: "CulturaEduca",
        transparent: true,
        crs: CRS.EPSG4326,
      };

      const wmsLayer = new TileLayer.WMS(geoserver.url, geoserverLayerConfig);

      wmsLayers.value.push({
        name: layer.name,
        wms: wmsLayer,
      });
    });
  } catch (err) {
    console.error(err);
  }
}
onMounted(() => {
  findAllPublishedGeoserverLayers();
  initMap();
});
</script>

<style scoped></style>
