<template>
  <div ref="mapContainer" style="width: 100%; height: 100%" />
</template>

<script lang="ts" setup>
import { onMounted } from "vue";
import { Map, TileLayer, Marker, Circle, Control } from "leaflet";
import "leaflet/dist/leaflet.css";
import { ref } from "vue";
import requester from "@/requester";

const {
  VITE_GEOSERVER_URL_WMS,
  VITE_GEOSERVER_WORKSPACE,
  VITE_GEOSERVER_LAYER_SETORES,
  VITE_GEOSERVER_LAYER_EQUIPAMENTOS_ESCOLAS,
  VITE_INITIAL_LONGITUDE,
  VITE_INITIAL_LATITUDE,
  VITE_INITIAL_MAP_ZOOM,
} = import.meta.env;

const initialValues = {
  longitude: Number(VITE_INITIAL_LONGITUDE),
  latitude: Number(VITE_INITIAL_LATITUDE),
  zoom: Number(VITE_INITIAL_MAP_ZOOM),
  circleRadiusM: 1000,
};

const tileLayerOptions = {
  url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  maxZoom: 18,
};

const geoserver = {
  url: VITE_GEOSERVER_URL_WMS,
  layers: {
    setores: {
      layers: `${VITE_GEOSERVER_WORKSPACE}:catalog_1_version_3`,
      format: "image/png",
      transparent: true,
      attribution: "CulturaEduca",
      cql_filter: `DWITHIN(geom, POINT(${initialValues.longitude} ${initialValues.latitude}), ${initialValues.circleRadiusM}, meters)`,
    },
    escolas: {
      layers: `${VITE_GEOSERVER_WORKSPACE}:${VITE_GEOSERVER_LAYER_EQUIPAMENTOS_ESCOLAS}`,
      format: "image/png",
      transparent: true,
      attribution: "CulturaEduca",
    },
  },
};

const mapContainer = ref();

let map: Map;
let tiles: TileLayer;
let setoresWmsLayer: TileLayer.WMS;
let escolasWmsLayer: TileLayer.WMS;
let marker: Marker;
let circle: Circle;
let control: Control.Layers;

function initMap() {
  // Init map
  map = new Map(mapContainer.value).setView(
    { lat: initialValues.latitude, lng: initialValues.longitude },
    initialValues.zoom
  );

  // Add tiles - OpenStretMap tiles
  tiles = new TileLayer(tileLayerOptions.url, {
    attribution: tileLayerOptions.attribution,
    maxZoom: tileLayerOptions.maxZoom,
  });
  tiles.addTo(map);

  setoresWmsLayer = new TileLayer.WMS(geoserver.url, geoserver.layers.setores);

  escolasWmsLayer = new TileLayer.WMS(geoserver.url, geoserver.layers.escolas);

  control = new Control.Layers();

  control.addOverlay(setoresWmsLayer, 'Setores');
  control.addOverlay(escolasWmsLayer, 'Escolas');

  map.addControl(control);

  // Add marker
  marker = new Marker({
    lat: initialValues.latitude,
    lng: initialValues.longitude,
  });
  marker.addTo(map);

  // Add circle
  circle = new Circle(marker.getLatLng(), {
    radius: initialValues.circleRadiusM,
    color: "red",
    fillColor: "red",
    fillOpacity: 0.25,
  });
  circle.addTo(map);
}


const geoserverLayers = ref([]);

async function findAllPublishedGeoserverLayers() {
  try {
    const resData = await requester.geoserverLayers.findAllPublished();
    geoserverLayers.value = resData.map((layer) => {
      return {
      ...layer,
      _selected: false,
      _selectedVersionId:
        layer.catalog.versions.find((version) => version.default)?.id || null,
      }
    });

    // Adiciona cada layer ao GeoServer
    geoserverLayers.value.forEach((layer) => {
      const selectedVersion = layer.catalog.versions.find((version) => version.id === layer._selectedVersionId);

      const geoserverLayerConfig = {
        [layer.name]: {
          layers: `${VITE_GEOSERVER_WORKSPACE}:${selectedVersion.tableName}`,
          format: "image/png",
          transparent: true,
          attribution: "CulturaEduca",
        }
      }

      const wmsLayer = new TileLayer.WMS(geoserver.url, geoserverLayerConfig);

      control.addOverlay(wmsLayer, layer.name);
    })
  } catch (err) {
    console.error(err);
  }
}
onMounted(() => {
  findAllPublishedGeoserverLayers();
  initMap();
});
</script>

<style scoped></style>
