<template>
  <div ref="mapContainer" style="width: 100%; height: 100%" />
  <div
    style="position: fixed; padding-top: 60px; top: 0; right: 0; z-index: 1000"
  >
    <v-card title="Teste" width="400">
      <v-card-text>
        <v-slider
          label="Raio"
          v-model="sliderRadiusM"
          :min="500"
          :max="10000"
          :step="500"
          :hint="`${sliderRadiusM / 1000} km`"
          persistent-hint
          thumb-label
          @update:model-value="onUpdateSliderRadiusM"
        ></v-slider>
        <!-- <v-btn @click="bottomSheet = !bottomSheet">Teste</v-btn> -->
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts" setup>
import { onMounted } from "vue";
import { ref } from "vue";
import { debounce } from "lodash";

import "ol/ol.css";
import { Circle as CircleGeometry, Point } from "ol/geom";
import { fromExtent } from "ol/geom/Polygon";
import { Coordinate } from "ol/coordinate";
import { createXYZ } from "ol/tilegrid";
import { Feature } from "ol";
import { fromLonLat, toLonLat, get as getProjection } from "ol/proj";
import { Vector as VectorLayer } from "ol/layer";
import { Vector as VectorSource } from "ol/source";
import { extend as extendExtent } from "ol/extent";
import GeoJSON from "ol/format/GeoJSON";
import Fill from "ol/style/Fill";
import Icon from "ol/style/Icon";
import Map from "ol/Map";
import Select from "ol/interaction/Select";
import Stroke from "ol/style/Stroke";
import Style from "ol/style/Style";
import TileLayer from "ol/layer/Tile";
import TileWMS from "ol/source/TileWMS";
import View from "ol/View";
import XYZ from "ol/source/XYZ";

const initialValues = {
  longitude: -46.893223527337156,
  latitude: -23.18272104790531,
  zoom: 14,
  circleRadiusM: 1000,
};
const geoserver = {
  url: "http://localhost:8088/geoserver/wms",
  layers: {
    setores: {
      layers: "culturaeduca:ibge_setorcensitario",
      format: "image/png",
      transparent: true,
      attribution: "",
      cql_filter: `DWITHIN(geom, POINT(${initialValues.longitude} ${initialValues.latitude}), ${initialValues.circleRadiusM}, meters)`,
    },
  },
};

// refs
const mapContainer = ref();
const sliderRadiusM = ref(initialValues.circleRadiusM);

let map: Map;
// WMS
const layerWmsSetores = new TileLayer({
  source: new TileWMS({
    url: geoserver.url,
    params: {
      LAYERS: geoserver.layers.setores.layers,
      FORMAT: geoserver.layers.setores.format,
      TRANSPARENT: geoserver.layers.setores.transparent,
      CQL_FILTER: geoserver.layers.setores.cql_filter,
    },
    attributions: geoserver.layers.setores.attribution,
    projection: "EPSG:3857",
    tileGrid: createXYZ({ tileSize: 512, maxZoom: 20 }),
    serverType: "geoserver",
  }),
});
// MARKER
const featureMarker = new Feature(
  new Point(fromLonLat([initialValues.longitude, initialValues.latitude]))
);
const layerVectorMarker = new VectorLayer({
  source: new VectorSource({
    features: [featureMarker],
  }),
  style: new Style({
    image: new Icon({
      src: "/img/maps/marker-icon.png",
      anchor: [0.5, 1], // Set the anchor point of the icon (0.5, 1) = center-bottom
      scale: 1, // Scale the size of the icon if needed
    }),
  }),
});
// CIRCLE
const featureCircle = new Feature(
  new CircleGeometry(
    getMarkerCoordinates(featureMarker),
    initialValues.circleRadiusM
  )
);
const layerVectorCircle = new VectorLayer({
  source: new VectorSource({
    features: [featureCircle],
  }),
  style: new Style({
    fill: new Fill({
      color: "rgba(255, 0, 0, 0.1)", // Fill color for the circle
    }),
    stroke: new Stroke({
      color: "red", // Stroke color for the circle's outline
      width: 2, // Stroke width for the circle's outline
    }),
  }),
});
// test
const layerVectorTest = new VectorLayer({
  source: new VectorSource(),
  style: new Style({
    fill: new Fill({
      color: "rgba(0, 0, 255, 0.3)",
    }),
    stroke: new Stroke({
      color: "blue",
      width: 1,
    }),
  }),
});

function initMap() {
  map = new Map({
    target: mapContainer.value,
    layers: [
      new TileLayer({
        source: new XYZ({
          url: "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
        }),
      }),
      layerWmsSetores,
      layerVectorTest,
      layerVectorCircle,
      layerVectorMarker,
    ],
    view: new View({
      center: getMarkerCoordinates(featureMarker),
      zoom: initialValues.zoom,
    }),
  });
}

onMounted(async () => {
  initMap();
});

function getMarkerCoordinates(marker: Feature<Point>) {
  return marker.getGeometry().getCoordinates();
}

function onUpdateSliderRadiusM(value: number) {
  const coordinates = getMarkerCoordinates(featureMarker);
  featureCircle.setGeometry(new CircleGeometry(coordinates, value));
  updateCqlFilterDebounce(toLonLat(coordinates), value);
}

const updateCqlFilterDebounce = debounce(function (
  lonLat: Coordinate,
  radius: number
) {
  const cqlFilter = `DWITHIN(geom, POINT(${lonLat[0]} ${lonLat[1]}), ${radius}, meters)`;
  layerWmsSetores.getSource().updateParams({
    CQL_FILTER: cqlFilter,
  });
},
666);
</script>
