<template>
  <v-overlay v-model="loading" absolute />
  <div ref="mapContainer" style="width: 100%; height: 100%" />
  <div
    style="position: fixed; padding-top: 60px; top: 0; right: 0; z-index: 1000"
  >
    <v-card title="Teste" width="400">
      <v-card-text>
        <v-select
          label="Campo"
          v-model="selectCampo"
          :items="itemsCampo"
          variant="outlined"
          @update:model-value="onUpdateModelValueSelectCampo"
        ></v-select>
        <div
          ref="legendDiv"
          style="width: 100%; padding-left: 15px; padding-right: 15px"
        />
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts" setup>
import { onMounted } from "vue";
import { Map, TileLayer, Marker } from "leaflet";
import "leaflet/dist/leaflet.css";
import { ref } from "vue";
import { renderChoroplethLayer } from "@/utils/d3/choropleth";
import { Legend } from "@/utils/d3/legend";
import { json, csv, Selection, scaleSequential, interpolateReds } from "d3";

const { VITE_INITIAL_LONGITUDE, VITE_INITIAL_LATITUDE, VITE_INITIAL_MAP_ZOOM } =
  import.meta.env;

const initialValues = {
  longitude: Number(VITE_INITIAL_LONGITUDE),
  latitude: Number(VITE_INITIAL_LATITUDE),
  zoom: Number(VITE_INITIAL_MAP_ZOOM),
  circleRadiusM: 1000,
};
const tileLayerOptions = {
  url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  maxZoom: 18,
};

const itemsCampo = ref([
  {
    value: {
      property: "PCT_SEM_AGUA",
      field: "pct_sem_agua",
      domain: [0, 100],
    },
    title: "Domicílios sem abastecimento água",
  },
  {
    value: {
      property: "PCT_SEM_SANEAMENTO",
      field: "pct_sem_saneamento",
      domain: [0, 10],
    },
    title: "Domicílios sem saneamento",
  },
  {
    value: {
      property: "PCT_SEM_LIXO",
      field: "pct_sem_lixo",
      domain: [0, 100],
    },
    title: "Domicílios sem coleta de lixo",
  },
  {
    value: {
      property: "PCT_SEM_ENERGIA",
      field: "pct_sem_energia",
      domain: [0, 10],
    },
    title: "Domicílios sem energia elétrica",
  },
]);
const selectCampo = ref(itemsCampo.value[0].value);

const legendDiv = ref();
const mapContainer = ref();

let map: Map;
let tiles: TileLayer;
let marker: Marker;
let geoData: any;
let svgSelection: Selection<SVGSVGElement, unknown, null, undefined>;

async function initMap() {
  // Init map
  map = new Map(mapContainer.value, { preferCanvas: true }).setView(
    { lat: initialValues.latitude, lng: initialValues.longitude },
    initialValues.zoom
  );

  // Add tiles
  tiles = new TileLayer(tileLayerOptions.url, {
    attribution: tileLayerOptions.attribution,
    maxZoom: tileLayerOptions.maxZoom,
  });
  tiles.addTo(map);

  onUpdateModelValueSelectCampo();

  // Add marker
  marker = new Marker({
    lat: initialValues.latitude,
    lng: initialValues.longitude,
  });
  marker.addTo(map);
}

function onUpdateModelValueSelectCampo() {
  const options = {
    valueKey: selectCampo.value.property,
    domain: selectCampo.value.domain,
    // propertyFilter: { key: "CD_MUN", value: "3550308" },
  };
  if (svgSelection) svgSelection.remove();
  svgSelection = renderChoroplethLayer(map, geoData, options);
  const colorScale = scaleSequential()
    .domain(options.domain)
    .interpolator(interpolateReds);
  const legendSvg = Legend(colorScale, {
    title: `${
      itemsCampo.value.find((item) => item.value === selectCampo.value)
        ?.title || "Label"
    } (%)`,
    width: legendDiv.value.offsetWidth - 30,
  });
  legendDiv.value.replaceChildren(legendSvg);
}

function geoJsonWithNewProperties(
  geojson: any,
  csv: any[],
  options: { property: string; field: string }[]
) {
  return {
    ...geojson,
    features: geojson.features.map((feature) => {
      const newProperties = {};
      options.forEach((option) => {
        const value =
          csv?.find((item) => item.cd_mun === feature.properties.CD_MUN)?.[
            option.field
          ] || 0;
        newProperties[option.property] = Number(value) * 100;
      });
      return {
        ...feature,
        properties: {
          ...feature.properties,
          ...newProperties,
        },
      };
    }),
  };
}

const loading = ref(true);
onMounted(async () => {
  const geojsonSpMunicipios: any = await json(
    "/documents/geojson/SP_Municipios_2022.json"
  );
  const ibgeMunicipiosDomicilios = await csv(
    "/documents/ibgeMunicipiosDomicilios.csv"
  );
  geoData = geoJsonWithNewProperties(
    geojsonSpMunicipios,
    ibgeMunicipiosDomicilios,
    itemsCampo.value.map((el) => el.value)
  );
  await initMap();
  loading.value = false;
});
</script>

<style scoped></style>
