<template>
  <MapsPreviewGeoserverLayer v-if="version" :layer="version.tableName" />
</template>

<script setup lang="ts">
import { ref, onMounted, computed } from "vue";
import { useRoute } from "vue-router";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import { Version } from "@backPrisma/generated/client";

import MapsPreviewGeoserverLayer from "@/components/maps/MapsPreviewGeoserverLayer.vue";

// DATA

const versionId = computed(() => Number(useRoute().params.versionId as string));

const version = ref<Version>();

// ON MOUNTED
onMounted(() => {
  findVersion(versionId.value);
});

// METHODS

async function findVersion(versionId: number) {
  try {
    version.value = await requester.versions.findOne(versionId);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
