<template>
  <!-- SEARCH BAR AND BTNS FOR TABLE -->
  <div class="d-flex align-center mb-2">
    <!-- SEARCH BAR -->
    <v-text-field
      disabled
      placeholder="Search"
      variant="outlined"
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
      :loading="loading"
    />
  </div>

  <v-card variant="outlined" color="grey-lighten-2">
    <v-table hover density="compact">
      <thead>
        <tr>
          <th
            v-for="header in headers"
            :key="header.value"
            v-text="header.title"
          />
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items" :key="item.id">
          <td v-for="header in headers" :key="header.value">
            <template
              v-if="header.attribute.type === typeAttributeEnum.GEOMETRY"
            >
              <router-link
                :to="{
                  name: 'AttributesPreviewGeoJson',
                  params: {
                    attributeId: header.attribute.id,
                    basesDataId: getItemValue(item, '_id'),
                  },
                }"
                target="_blank"
              >
                {{ getItemValue(item, header.value) }}
              </router-link>
            </template>
            <template v-else>
              {{ getItemValue(item, header.value) }}
            </template>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
  <v-pagination
    v-model="paginationPage"
    :length="paginationLength"
    total-visible="6"
    density="compact"
  />
</template>

<script setup lang="ts">
import { ref, computed, inject, onMounted, watch, Ref } from "vue";
import { debounce, get } from "lodash";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import { Attribute, Version } from "@backPrisma/generated/client";
import { TypeAttributeEnum } from "@backSrc/attributes/attributes.constants";

// INJECT
const version = inject<Ref<Version>>("version");
const attributes = ref<Attribute[]>([]);

// DATA

const loading = ref(false);

const items = ref([]);
const paginationPage = ref(1);
const paginationPerPage = ref(15);
const paginationLength = ref(0);

const headers = computed(() => {
  return attributes.value.map((attribute) => ({
    value: attribute.name,
    title: attribute.name,
    attribute,
  }));
});

const typeAttributeEnum = ref(TypeAttributeEnum);

watch(paginationPage, () => {
  getTableBasesDebounce(version.value.id, false);
});
watch(paginationPerPage, () => {
  getTableBasesDebounce(version.value.id, true);
});

// ON MOUNTED
onMounted(async () => {
  await findAttributes(version.value.id);
  await getTableBases(version.value.id, true);
});

// METHODS

function getItemValue(item: any, key: string) {
  return get(item, key);
}

const getTableBasesDebounce = debounce(getTableBases, 200);
async function getTableBases(versionId: number, resetPage: boolean) {
  loading.value = true;
  if (resetPage) {
    paginationPage.value = 1;
  }
  try {
    const resData = await requester.versions.getTableBases(versionId, {
      page: paginationPage.value,
      perPage: paginationPerPage.value,
    });
    items.value = resData?.results || [];
    paginationLength.value = Math.ceil(
      (resData?.total || 0) / paginationPerPage.value
    );
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}

async function findAttributes(versionId: number) {
  try {
    attributes.value = await requester.versions.findAttributes(versionId);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
