<template>
  <div v-if="version">
    <v-file-input
      label="Arquivo"
      variant="outlined"
      v-model="files"
      @update:model-value="onChangeFile"
      clearable
    />
    <v-card variant="outlined" color="grey-lighten-2">
      <v-table>
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.value">
              {{ header.text }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in items" :key="index">
            <td v-for="header in headers" :key="header.value">
              <span v-html="header.transformer(item?.[header.value])" />
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    <div class="mt-3">
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        :disabled="items.length === 0"
        @click="onSubmit"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, computed, onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";
import * as XLSX from "xlsx";

import requester from "@/requester";

import { CreateAttributeDto } from "@backSrc/attributes/dto";
import { Version } from "@backPrisma/generated/client";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

const router = useRouter();
const versionId = computed(() => Number(useRoute().params.versionId as string));
const version = ref<Version>();
const files = ref();
const workbook = ref();
const items = ref([]);
const headers = ref([
  { value: "name", text: "Name", transformer: (v) => v?.trim() || null },
  {
    value: "description",
    text: "Description",
    transformer: (v) => v?.trim() || null,
  },
  {
    value: "type",
    text: "Type",
    transformer: (v: string | null) => v?.toUpperCase()?.trim() || null,
  },
  {
    value: "optional",
    text: "Optional",
    transformer: (v: string | null) =>
      v?.toUpperCase()?.trim() === "Y" ? true : false,
  },
  {
    value: "indexable",
    text: "Indexable",
    transformer: (v: string | null) =>
      v?.toUpperCase()?.trim() === "Y" ? true : false,
  },
  {
    value: "unique",
    text: "Unique",
    transformer: (v: string | null) =>
      v?.toUpperCase()?.trim() === "Y" ? true : false,
  },
  {
    value: "defaultValue",
    text: "Default value",
    transformer: (v) => v?.trim() || null,
  },
  { value: "unit", text: "Unit", transformer: (v) => v },
  {
    value: "decodeValue",
    text: "Decode value",
    transformer: (v) => v?.trim() || null,
  },
  {
    value: "sensitiveData",
    text: "Sensitive data",
    transformer: (v: string | null) =>
      v?.toUpperCase()?.trim() === "Y" ? true : false,
  },
]);

async function onChangeFile() {
  loadWorkbook(files.value?.[0]);
}

async function loadWorkbook(file: File) {
  if (!file) {
    workbook.value = null;
    items.value = [];
    return;
  }
  const reader = new FileReader();
  reader.onload = (e) => {
    const data = new Uint8Array(e?.target?.result as ArrayBufferLike);
    workbook.value = XLSX.read(data, { type: "array" });
    items.value = XLSX.utils.sheet_to_json(
      workbook.value.Sheets[workbook.value.SheetNames[0]],
      { defval: null }
    );
  };
  reader.readAsArrayBuffer(file);
}

onMounted(() => {
  findVersion(versionId.value);
});

async function findVersion(versionId: number) {
  try {
    version.value = await requester.versions.findOne(versionId);
  } catch (err) {
    emitAlertError(err);
  }
}

async function onSubmit() {
  if (!version.value) return;
  try {
    const dto: CreateAttributeDto[] = items.value.map((item) => {
      const returnValue: any = {};
      headers.value.forEach((header) => {
        returnValue[header.value] = header.transformer(item?.[header.value]);
      });
      return returnValue;
    });
    await requester.versions.createAttributeBulk(versionId.value, dto);
    emitAlertSuccess("Attributes successfully created");
    router.push({
      name: "VersionsView",
      params: { versionId: version.value.id },
    });
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
