<template>
  <!-- DIALOG CREATE DATA INGESTION -->
  <DataIngestionsDialogCreate
    v-model="dialogCreateDataIngestion"
    :version-id="version.id"
    @data-ingestion-created="onDataIngestionCreated"
  />

  <!-- SEARCH BAR AND BTNS FOR TABLE -->
  <div class="d-flex align-center mb-2">
    <!-- SEARCH BAR -->
    <v-text-field
      v-model="search"
      placeholder="Search"
      variant="outlined"
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
      :loading="loading"
    />
    <!-- BTN OPEN DIALOG CREATE ATTRIBUTE -->
    <v-btn
      prepend-icon="mdi-plus"
      color="primary"
      variant="flat"
      class="ml-2"
      @click="dialogCreateDataIngestion = true"
    >
      Data Ingestion
    </v-btn>
  </div>
  <!-- TABLE DATA INGESTIONS -->
  <v-card variant="outlined" color="grey-lighten-2" class="mb-6">
    <v-table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>File</th>
          <th>Status</th>
          <th>Details</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in dataIngestionsFiltered" :key="item.id">
          <td>
            <router-link
              :to="{
                name: 'DataIngestionsView',
                params: {
                  catalogId: version.catalogId,
                  versionId: version.id,
                  dataIngestionId: item.id,
                },
              }"
              exact
            >
              {{ item.id }}
            </router-link>
          </td>
          <td>
            <div class="d-flex align-center">
              <v-icon
                :icon="getDataIngestionFileTypeIcon(item.fileType)"
                size="small"
                start
              />
              <span v-text="getDataIngestionFileTypeText(item.fileType)" />
            </div>
          </td>
          <td>{{ item.filePath }}</td>
          <td><DataIngestionsLogCurrent :dataIngestionId="item.id" /></td>
          <td>
            <v-btn
              icon="mdi-information"
              color="info"
              variant="text"
              :to="{
                name: 'DataIngestionsView',
                params: {
                  catalogId: version.catalogId,
                  versionId: version.id,
                  dataIngestionId: item.id,
                },
              }"
              exact
            />
          </td>
          <td>
            <v-btn
              icon="mdi-delete"
              color="error"
              variant="text"
              @click="removeDataIngestion(item.id)"
            />
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<script setup lang="ts">
import { computed, inject, onMounted, ref, Ref } from "vue";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { cleanString } from "@/utils/string-functions.utils";

import { DataIngestion, Version } from "@backPrisma/generated/client";

import DataIngestionsDialogCreate from "@/components/data-ingestions/DataIngestionsDialogCreate.vue";
import DataIngestionsLogCurrent from "@/components/data-ingestions/DataIngestionsLogCurrent.vue";
import {
  getDataIngestionFileTypeIcon,
  getDataIngestionFileTypeText,
} from "@/utils/data-ingestion-helper.utils";

// INJECT
const version = inject<Ref<Version>>("version");

// DATA
const loading = ref(false);

const dialogCreateDataIngestion = ref<boolean>(false);

const search = ref<string>("");
const cleanSearch = computed(() => cleanString(search.value));

const dataIngestions = ref<DataIngestion[]>([]);
const dataIngestionsFiltered = computed(() =>
  dataIngestions.value.filter((dataIngestion) => {
    return (
      cleanString(dataIngestion.fileType).includes(cleanSearch.value) ||
      cleanString(dataIngestion.filePath || "").includes(cleanSearch.value)
    );
  })
);

onMounted(() => {
  findDataIngestions(version.value.id);
});

// METHODS

function onDataIngestionCreated() {
  findDataIngestions(version.value.id);
  dialogCreateDataIngestion.value = false;
}

async function removeDataIngestion(dataIngestionId: number) {
  try {
    await requester.dataIngestions.remove(dataIngestionId);
    emitAlertSuccess("Data ingestion successfully removed");
    const index = dataIngestions.value.findIndex(
      (dataIngestion) => dataIngestion.id === dataIngestionId
    );
    if (index >= 0) {
      dataIngestions.value.splice(index, 1);
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function findDataIngestions(versionId: number) {
  loading.value = true;
  try {
    dataIngestions.value = await requester.versions.findDataIngestions(
      versionId
    );
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}
</script>
