<template>
  <!-- DIALOG CREATE ATTRIBUTE -->
  <AttributesDialogCreate
    v-model="dialogCreateAttribute"
    :version-id="version.id"
    @attribute-created="onAttributeCreated"
  />
  <!-- DIALOG UPDATE ATTRIBUTE -->
  <AttributesDialogUpdate
    v-if="selectedAttribute"
    :key="selectedAttribute.id"
    v-model="dialogUpdateAttribute"
    :attribute="selectedAttribute"
    :version-id="version.id"
    @attribute-updated="onAttributeUpdated"
  />

  <!-- SEARCH BAR AND BTNS FOR TABLE -->
  <div class="d-flex align-center mb-2">
    <!-- SEARCH BAR -->
    <v-text-field
      v-model="search"
      placeholder="Search"
      variant="outlined"
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
    />
    <!-- BTN OPEN DIALOG CREATE ATTRIBUTE -->
    <v-btn
      prepend-icon="mdi-plus"
      color="primary"
      variant="flat"
      class="ml-2"
      @click="dialogCreateAttribute = true"
    >
      Attribute
    </v-btn>
    <!-- BTN OPEN DIALOG CREATE ATTRIBUTE -->
    <v-btn
      prepend-icon="mdi-import"
      color="secondary"
      variant="flat"
      class="ml-2"
      :to="{
        name: 'VersionsImportAttributes',
        params: { versionId: version.id },
      }"
    >
      Import
    </v-btn>
  </div>
  <!-- TABLE ATTRIBUTES -->
  <v-card variant="outlined" color="grey-lighten-2">
    <v-table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th class="text-center">Optional</th>
          <th class="text-center">Indexable</th>
          <th class="text-center">Unique</th>
          <th>Default value</th>
          <th>Unit</th>
          <th>Decode value</th>
          <th class="text-center">Sensitive data</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in attributesFiltered" :key="item.id">
          <td class="text-disabled">{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.type }}</td>
          <td class="text-center">
            <IconBooleanValue :value="item.optional" />
          </td>
          <td class="text-center">
            <IconBooleanValue
              :value="item.indexable"
              color-false="grey-lighten-1"
            />
          </td>
          <td class="text-center">
            <IconBooleanValue
              :value="item.unique"
              color-false="grey-lighten-1"
            />
          </td>
          <td>{{ item.defaultValue }}</td>
          <td>{{ item.unit }}</td>
          <td>{{ item.decodeValue }}</td>
          <td class="text-center">
            <IconBooleanValue
              :value="item.sensitiveData"
              color-false="grey-lighten-1"
            />
          </td>
          <td>{{ filterFormatDate(item.createdAt) }}</td>
          <td>{{ filterFormatDate(item.updatedAt) }}</td>
          <td>
            <v-btn
              icon="mdi-pencil"
              color="warning"
              variant="text"
              @click="editAttribute(item)"
            />
          </td>
          <td>
            <v-btn
              icon="mdi-delete"
              color="error"
              variant="text"
              @click="removeAttribute(item.id)"
            />
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<script setup lang="ts">
import { computed, inject, onMounted, ref, Ref } from "vue";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { filterFormatDate } from "@/utils/filters";
import { cleanString } from "@/utils/string-functions.utils";

import { Attribute, Version } from "@backPrisma/generated/client";

import AttributesDialogCreate from "@/components/attributes/AttributesDialogCreate.vue";
import AttributesDialogUpdate from "@/components/attributes/AttributesDialogUpdate.vue";
import IconBooleanValue from "@/components/IconBooleanValue.vue";

// INJECT
const version = inject<Ref<Version>>("version");

// DATA
const dialogCreateAttribute = ref<boolean>(false);
const dialogUpdateAttribute = ref<boolean>(false);

const search = ref<string>("");
const cleanSearch = computed(() => cleanString(search.value));

const attributes = ref<Attribute[]>([]);
const attributesFiltered = computed(() =>
  attributes.value.filter((attribute) => {
    return (
      cleanString(attribute.name).includes(cleanSearch.value) ||
      cleanString(attribute.description || "").includes(cleanSearch.value) ||
      cleanString(attribute.type).includes(cleanSearch.value)
    );
  })
);
const selectedAttribute = ref<Attribute>();

onMounted(() => {
  findAttributes(version.value.id);
});

// METHODS

function onAttributeCreated() {
  findAttributes(version.value.id);
  dialogCreateAttribute.value = false;
}

function onAttributeUpdated(attribute: Attribute) {
  const index = attributes.value.findIndex((el) => el.id === attribute.id);
  if (index >= 0) {
    attributes.value[index] = attribute;
  }
  dialogUpdateAttribute.value = false;
}

function editAttribute(attribute: Attribute) {
  selectedAttribute.value = attribute;
  dialogUpdateAttribute.value = true;
}

async function removeAttribute(attributeId: number) {
  try {
    await requester.attributes.remove(attributeId);
    emitAlertSuccess("Attribute successfully removed");
    const index = attributes.value.findIndex(
      (attribute) => attribute.id === attributeId
    );
    if (index >= 0) {
      attributes.value.splice(index, 1);
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function findAttributes(versionId: number) {
  try {
    attributes.value = await requester.versions.findAttributes(versionId);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
