<template>
  <div>
    <v-file-input
      :label="!formFile && fileInputDisabled ? 'File already uploaded' : ''"
      v-model="formFile"
      variant="outlined"
      :disabled="fileInputDisabled"
    />
    <v-btn
      prepend-icon="mdi-upload"
      color="success"
      :disabled="!formFile"
      @click="uploadFile(dataIngestion.id)"
    >
      Upload
    </v-btn>
  </div>
</template>

<script setup lang="ts">
import { computed, ref, inject, onMounted, Ref } from "vue";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

import { DataIngestion, DataIngestionLog } from "@backPrisma/generated/client";

// INJECT
const dataIngestion = inject<Ref<DataIngestion>>("dataIngestion");
const dataIngestionCurrentLog = inject<Ref<DataIngestionLog>>(
  "dataIngestionCurrentLog"
);

// DATA
const formFile = ref<File[]>(null);

const fileInputDisabled = computed(
  () =>
    !["CREATED", "FILE_UPLOAD_FAILURE"].includes(
      dataIngestionCurrentLog.value?.status
    )
);

// MOUNTED
onMounted(() => {});

async function uploadFile(dataIngestionId: number) {
  try {
    const formData = new FormData();
    formData.append("file", formFile.value?.[0]);
    await requester.dataIngestions.uploadFile(dataIngestionId, formData);
    emitAlertSuccess("File upload started successfully");
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
