<template>
  <!-- GEOMETRY -->
  <h2 class="text-h5">Geometry</h2>
  <v-divider class="mt-1 mb-3" />
  <!-- TABLE GEOMETRY -->
  <v-card variant="outlined" color="grey-lighten-2" class="mb-4">
    <v-table hover density="compact">
      <thead>
        <tr>
          <th
            v-for="header in headersAttributes"
            :key="header.value"
            :class="header?.class"
            :width="header?.width"
          >
            {{ header.title }}
          </th>
          <th class="text-center px-0">
            <v-btn
              :icon="
                expandHeadersAttributes
                  ? 'mdi-arrow-collapse-left'
                  : 'mdi-arrow-expand-left'
              "
              variant="flat"
              density="compact"
              @click="expandHeadersAttributes = !expandHeadersAttributes"
            />
          </th>
          <th>
            <div class="d-flex justify-space-between align-center">
              <span>Geometry source</span>
              <v-btn
                variant="text"
                prepend-icon="mdi-text-search-variant"
                @click="inferMappingGeometry()"
              >
                Infer
              </v-btn>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <template
          v-for="attribute in attributesGeometry"
          :key="`row_${attribute.id}`"
        >
          <tr>
            <td
              v-for="header in headersAttributes"
              :key="header.value"
              :class="header?.cellClass"
            >
              <IconBooleanValue
                v-if="header.type === 'boolean'"
                :value="attribute[header.value]"
                color-false="grey-lighten-2"
              />
              <span v-else v-text="attribute[header.value]" />
            </td>
            <td></td>
            <td>
              <v-autocomplete
                v-model="attribute._geometry_type"
                :items="itemsGeometry"
                variant="outlined"
                density="compact"
                hide-details
                clearable
                class="my-1"
              />
            </td>
          </tr>
          <!-- GEOJSON -->
          <tr v-if="attribute._geometry_type === 'GEOJSON'">
            <td :colspan="headersAttributes.length + 2" class="px-0">
              <v-card variant="flat">
                <v-card-text>
                  <v-row>
                    <v-col cols="12">
                      <v-alert
                        :type="
                          dataIngestionFeatureHasGeometry ? 'success' : 'error'
                        "
                        variant="outlined"
                        density="compact"
                      >
                        <span
                          class="text-subtitle-1 font-weight-medium"
                          v-text="
                            dataIngestionFeatureHasGeometry
                              ? 'Geometry found in collection'
                              : 'Geometry not found in collection'
                          "
                        />
                      </v-alert>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </td>
          </tr>
          <!-- LAT_LNG -->
          <tr v-if="attribute._geometry_type === 'LAT_LNG'">
            <td :colspan="headersAttributes.length + 2" class="px-0">
              <v-card variant="flat">
                <v-card-text>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-autocomplete
                        label="Property - Latitude"
                        v-model="attribute._geometry_property_lat"
                        placeholder="Select property"
                        :items="dataIngestionFeatureProperties"
                        item-title="property"
                        item-value="property"
                        hide-details
                        variant="outlined"
                        density="compact"
                        clearable
                        class="my-1"
                      />
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-autocomplete
                        label="Property - Longitude"
                        v-model="attribute._geometry_property_lng"
                        placeholder="Select property"
                        :items="dataIngestionFeatureProperties"
                        item-title="property"
                        item-value="property"
                        hide-details
                        variant="outlined"
                        density="compact"
                        clearable
                        class="my-1"
                      />
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </td>
          </tr>
          <!-- WKT -->
          <tr v-if="attribute._geometry_type === 'WKT'">
            <td :colspan="headersAttributes.length + 2" class="px-0">
              <v-card variant="flat">
                <v-card-text>
                  <v-row>
                    <v-col cols="12">
                      <v-autocomplete
                        label="Property - WKT"
                        v-model="attribute._geometry_property_wkt"
                        placeholder="Select property"
                        :items="dataIngestionFeatureProperties"
                        item-title="property"
                        item-value="property"
                        hide-details
                        variant="outlined"
                        density="compact"
                        clearable
                        class="my-1"
                      />
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </td>
          </tr>
        </template>
      </tbody>
    </v-table>
  </v-card>
  <!-- PROPERTIES -->
  <h2 class="text-h5">Properties</h2>
  <v-divider class="mt-1 mb-3" />
  <!-- TABLE PROPERTIES -->
  <v-card variant="outlined" color="grey-lighten-2">
    <v-table hover density="compact">
      <thead>
        <tr>
          <!-- ATTRIBUTES -->
          <th
            v-for="header in headersAttributes"
            :key="header.value"
            :class="header?.class"
            :width="header?.width"
          >
            {{ header.title }}
          </th>
          <th class="text-center px-0">
            <v-btn
              :icon="
                expandHeadersAttributes
                  ? 'mdi-arrow-collapse-left'
                  : 'mdi-arrow-expand-left'
              "
              variant="flat"
              density="compact"
              @click="expandHeadersAttributes = !expandHeadersAttributes"
            />
          </th>
          <!-- PROPERTIES -->
          <th>
            <div class="d-flex justify-space-between align-center">
              <span>Property</span>
              <v-btn
                prepend-icon="mdi-text-search-variant"
                variant="text"
                @click="inferMappingProperties()"
              >
                Infer
              </v-btn>
            </div>
          </th>
          <th>Type</th>
          <th class="text-center">Required</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="attribute in attributesPropertiesOrdered"
          :key="attribute.id"
        >
          <td
            v-for="header in headersAttributes"
            :key="header.value"
            :class="header?.cellClass"
          >
            <IconBooleanValue
              v-if="header.type === 'boolean'"
              :value="attribute[header.value]"
              color-false="grey-lighten-2"
            />
            <span v-else v-text="attribute[header.value]" />
          </td>
          <td class="text-center px-0"></td>
          <td>
            <v-autocomplete
              v-model="attribute._property"
              placeholder="Select property"
              :items="dataIngestionFeatureProperties"
              item-title="property"
              item-value="property"
              hide-details
              variant="outlined"
              density="compact"
              clearable
              class="my-1"
            />
          </td>
          <td>
            <span v-if="attribute._property">
              <v-chip
                v-for="t in getPropertyType(attribute._property)"
                :key="t"
                :text="t"
                class="mr-2"
              />
            </span>
            <span v-else class="text-disabled">N/A</span>
          </td>
          <td class="text-center">
            <span v-if="attribute._property">
              <span
                v-text="getPropertyRequired(attribute._property) ? 'Yes' : 'No'"
              />
            </span>
            <span v-else class="text-disabled">N/A</span>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
  <v-divider class="my-4" />
  <v-btn
    prepend-icon="mdi-floppy"
    color="success"
    @click="mapAttributesDebounce(dataIngestion.id)"
    >Save</v-btn
  >
</template>

<script setup lang="ts">
import { ref, computed, inject, onMounted, Ref } from "vue";
import { JSONSchema7 } from "json-schema";
import { debounce, orderBy } from "lodash";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { cleanString } from "@/utils/string-functions.utils";

import { Attribute, DataIngestion } from "@backPrisma/generated/client";
import { TypeAttributeEnum } from "@backSrc/attributes/attributes.constants";
import { MapAttributesDataIngestionDto } from "@backSrc/data-ingestions/dto";
import IconBooleanValue from "@/components/IconBooleanValue.vue";

// INJECT
const dataIngestion = inject<Ref<DataIngestion>>("dataIngestion");

// DATA / COMPUTED

const dataIngestionFeatureProperties = computed(() => {
  const collectionSchema = dataIngestion.value.collectionSchema as JSONSchema7;
  const featureProperties = collectionSchema.properties?.properties as any;
  return orderBy(
    Object.keys(featureProperties?.properties).map((key) => {
      const type = featureProperties?.properties[key]?.type;
      return {
        property: key,
        type: Array.isArray(type) ? type : [type],
        required: (featureProperties?.required || []).includes(key),
      };
    }),
    (el) => el.property.toLocaleLowerCase()
  );
});

const dataIngestionFeatureHasGeometry = computed(() => {
  const collectionSchema = dataIngestion.value.collectionSchema as JSONSchema7;
  return !!collectionSchema.properties?.geometry;
});

const itemsGeometry = ref([
  { value: "GEOJSON", title: "GeoJSON" },
  { value: "LAT_LNG", title: "Latitude/Longitude" },
  { value: "WKT", title: "WKT" },
]);

const attributesGeometry = ref<
  Array<
    Attribute & {
      _geometry_type: string;
      _geometry_property_lat: string;
      _geometry_property_lng: string;
      _geometry_property_wkt: string;
    }
  >
>();
const attributesProperties = ref<Array<Attribute & { _property: string }>>();
const attributesPropertiesOrdered = computed(() =>
  orderBy(attributesProperties.value, ["order"], ["asc"])
);
const expandHeadersAttributes = ref(false);
const headersAttributes = computed(() => [
  {
    value: "order",
    title: "Order",
    type: "string",
    class: "text-disabled",
    cellClass: "text-disabled",
    width: 1,
  },
  { value: "name", title: "Attribute", type: "string" },
  {
    value: "description",
    title: "Description",
    type: "string",
    cellClass: "text-medium-emphasis",
  },
  { value: "type", title: "Type", type: "string" },
  ...(expandHeadersAttributes.value
    ? [
        {
          value: "optional",
          title: "Optional",
          type: "boolean",
          class: "text-center",
          cellClass: "text-center",
        },
        {
          value: "indexable",
          title: "Indexable",
          type: "boolean",
          class: "text-center",
          cellClass: "text-center",
        },
        {
          value: "unique",
          title: "Unique",
          type: "boolean",
          class: "text-center",
          cellClass: "text-center",
        },
        {
          value: "sensitiveData",
          title: "Sensitive data",
          type: "boolean",
          class: "text-center",
          cellClass: "text-center",
        },
      ]
    : []),
]);

onMounted(() => {
  findAttributes(dataIngestion.value.versionId);
});

// METHODS

function getPropertyType(property: string) {
  return dataIngestionFeatureProperties.value?.find(
    (el) => el.property === property
  )?.type;
}

function getPropertyRequired(property: string) {
  return dataIngestionFeatureProperties.value?.find(
    (el) => el.property === property
  )?.required;
}

function findExistingPropertyEqual(attributeName: string) {
  return dataIngestionFeatureProperties.value?.find(
    (el) => el.property === attributeName
  )?.property;
}

function findExistingPropertySimilar(attributeName: string) {
  return dataIngestionFeatureProperties.value?.find(
    (el) => cleanString(el.property) === cleanString(attributeName)
  )?.property;
}

function inferMappingProperties() {
  attributesProperties.value.forEach((attribute) => {
    attribute._property =
      findExistingPropertyEqual(attribute.name) ||
      findExistingPropertySimilar(attribute.name) ||
      null;
  });
}

function inferMappingGeometry() {
  attributesGeometry.value.forEach((attribute) => {
    attribute._geometry_type = dataIngestionFeatureHasGeometry.value
      ? "GEOJSON"
      : null;
    attribute._geometry_property_lat = null;
    attribute._geometry_property_lng = null;
    attribute._geometry_property_wkt = null;
  });
}

async function findAttributes(versionId: number) {
  try {
    const versionAttributes = await requester.versions.findAttributes(
      versionId
    );
    attributesProperties.value = versionAttributes
      .filter(
        (el) =>
          ![TypeAttributeEnum.GEOMETRY].includes(el.type as TypeAttributeEnum)
      )
      .map((el) => ({
        ...el,
        _property: null,
      }));
    attributesGeometry.value = versionAttributes
      .filter((el) =>
        [TypeAttributeEnum.GEOMETRY].includes(el.type as TypeAttributeEnum)
      )
      .map((el) => ({
        ...el,
        _geometry_type: null,
        _geometry_property_lat: null,
        _geometry_property_lng: null,
        _geometry_property_wkt: null,
      }));
  } catch (err) {
    emitAlertError(err);
  }
}

const mapAttributesDebounce = debounce(mapAttributes, 300);
async function mapAttributes(dataIngestionId: number) {
  try {
    const dto: MapAttributesDataIngestionDto = {
      columns: attributesProperties.value
        .filter((el) => !!el._property)
        .map((el) => ({
          attributeId: el.id,
          propertyName: el._property,
        })),
      geo: attributesGeometry.value
        .filter((el) => !!el._geometry_type)
        .map((el) => ({
          attributeId: el.id,
          type: el._geometry_type,
          propertyNameLat:
            el._geometry_type === "LAT_LNG" ? el._geometry_property_lat : null,
          propertyNameLng:
            el._geometry_type === "LAT_LNG" ? el._geometry_property_lng : null,
          propertyNameWkt:
            el._geometry_type === "WKT" ? el._geometry_property_wkt : null,
        })),
    };
    await requester.dataIngestions.mapAttributes(dataIngestionId, dto);
    emitAlertSuccess("Attributes mapped successfully");
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
