<template>
  <v-btn
    prepend-icon="mdi-database-import"
    color="success"
    @click="loadDataDebounce(dataIngestion.id)"
  >
    Load data
  </v-btn>
</template>

<script setup lang="ts">
import { inject, Ref } from "vue";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

import { DataIngestion } from "@backPrisma/generated/client";
import { debounce } from "lodash";

// INJECT
const dataIngestion = inject<Ref<DataIngestion>>("dataIngestion");

// EMITS
const emit = defineEmits<{
  (e: "data-ingestion-started"): void;
}>();

// METHODS
const loadDataDebounce = debounce(loadData, 300);
async function loadData(dataIngestionId: number) {
  try {
    await requester.dataIngestions.loadData(dataIngestionId);
    emit("data-ingestion-started");
    emitAlertSuccess("Data ingestion started successfully");
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
