<template>
  <v-btn
    v-if="showParseFileBtn"
    prepend-icon="mdi-upload"
    color="success"
    @click="parseFileDebounce(dataIngestion.id)"
  >
    Parse file
  </v-btn>
  <DataIngestionsCollectionTable v-else :dataIngestionId="dataIngestion.id" />
</template>

<script setup lang="ts">
import { inject, Ref } from "vue";
import { debounce } from "lodash";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

import { DataIngestion, DataIngestionLog } from "@backPrisma/generated/client";

import DataIngestionsCollectionTable from "@/components/data-ingestions/DataIngestionsCollectionTable.vue";
import { computed } from "vue";

// INJECT
const dataIngestion = inject<Ref<DataIngestion>>("dataIngestion");
const dataIngestionCurrentLog = inject<Ref<DataIngestionLog>>(
  "dataIngestionCurrentLog"
);

const showParseFileBtn = computed(() =>
  ["FILE_UPLOAD_SUCCESS", "FILE_PARSING_FAILED"].includes(
    dataIngestionCurrentLog?.value?.status
  )
);

// EMITS
const emit = defineEmits<{
  (e: "file-parsed"): void;
}>();

// METHODS
const parseFileDebounce = debounce(parseFile, 300);
async function parseFile(dataIngestionId: number) {
  try {
    await requester.dataIngestions.parseFile(dataIngestionId);
    emit("file-parsed");
    emitAlertSuccess("File parsing started");
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
