<script setup lang="ts">
// @ts-ignore
import { Gradient } from '../utils/gradient.js';

const vGradientDirective = {
  mounted: () => {
    const gradient = new Gradient();

    gradient.initGradient('#gradient-canvas');
  }
}
</script>

<template>
  <div className="h-1/2 w-1/2">
    <canvas v-gradient-directive id="gradient-canvas" />
  </div>
</template>

<style>
  #gradient-canvas {
    width: 150vw;
    height:65vh;
    --gradient-color-1: #f3cff3;
    --gradient-color-2: #f2718a;
    --gradient-color-3: #eae2ff;
    --gradient-color-4: #ffb9bb;
    transform: rotate(-0.01turn) translateX(-100px) translateY(-175px);
    overflow: hidden;
    z-index: -1;
    opacity: 0.7;
    position: absolute;
  }
</style>