<template>
  <nav class="tw-bg-zinc-100 tw-z-10 tw-border-t-4 tw-border-rose-700 tw-sticky tw-top-0">
    <div class="tw-mx-auto tw-max-w-screen tw-px-2 tw-sm:px-6 tw-lg:px-8">
      <div class="tw-flex tw-flex-1 tw-items-center tw-justify-between">
        <div class="tw-flex tw-flex-shrink-0 tw-mx-8 tw-items-center">
          <p class="tw-antialiased tw-font-bold tw-text-lg tw-text-left">CulturaEduca</p>
        </div>
        <div class="tw-flex tw-flex-row tw-justify-between tw-mx-8">
          <div @click="this.$router.push('/sobre')" class="tw-flex tw-items-center tw-p-2 ">
            <p class="tw-border-b-2 tw-px-2 tw-border-rose-400 tw-antialiased tw-font-light tw-text-lg">Sobre nós</p>
          </div>
          <div class="tw-flex tw-items-center tw-p-2">
            <p class="tw-border-b-2 tw-border-rose-400 tw-px-2 tw-antialiased tw-font-light tw-text-lg">Login</p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>