<script setup lang="ts">
</script>

<template>
  <div>
    <div class="tw-flex tw-justify-center tw-flex-col tw-py-10 tw-select-none">
      <div class="tw-flex tw-flex-row tw-flex-wrap tw-justify-around tw-space-x-36 tw-self-center">
        <img src="../assets/parceiros/unifesp.png" class="tw-object-scale-down tw-overflow-hidden tw-h-36 tw-w-36 tw-p-2 tw-grayscale">
        <img src="../assets/parceiros/ime.png" class="tw-object-scale-down tw-overflow-hidden tw-h-36 tw-w-36 tw-p-2 tw-grayscale">
        <img src="../assets/parceiros/lidas.png" class="tw-object-scale-down tw-overflow-hidden tw-h-36 tw-w-36 tw-p-2 tw-grayscale">
        <img src="../assets/parceiros/inct.jpg" class="tw-object-scale-down tw-overflow-hidden tw-h-36 tw-w-36 tw-p-2 tw-grayscale">
      </div>
      <div class="tw-flex tw-flex-row tw-flex-wrap tw-justify-around tw-space-x-36 tw-self-center">
        <img src="../assets/parceiros/candeeiro.png" class="tw-object-scale-down tw-overflow-hidden tw-h-36 tw-w-36 tw-p-2 tw-grayscale">
        <img src="../assets/parceiros/feusp.png" class="tw-object-scale-down tw-overflow-hidden tw-h-36 tw-w-36 tw-p-2 tw-grayscale">
        <img src="../assets/parceiros/naifeusp.png" class="tw-object-scale-down tw-overflow-hidden tw-h-36 tw-w-36 tw-p-2 tw-grayscale">
      </div>
    </div>
  </div>
</template>
