<template>
    <div class="tw-flex tw-bg-slate-100 tw-justify-center tw-flex-col tw-items-center tw-py-8">
      <div class="tw-flex tw-items-start tw-flex-col tw-w-4/12">
        <h1 class="tw-text-rose-400 tw-font-bold">Morbi cursus</h1>
        <h1 class="tw-text-3xl tw-font-extrabold tw-w-8/12">Nunc lacus arcu, imperdiet ut tellus pharetra.</h1>
        <div class="tw-flex tw-flex-row tw-justify-center tw-space-x-4 tw-items-start">
          <div class="tw-space-y-4 tw-my-4">
            <p class="tw-font-normal"> Os mapas apresentam dados sobre as particularidades de cada território: demografia, atividade econômica predominante, renda, escolaridade, entre outros. Essas informações são estratégicas para fomentar o planejamento de ações comunitárias e/ou de políticas públicas.
            </p>
            <p class="tw-font-normal">O mapeamento do CulturaEduca 2.0 é colaborativo, aberto e gratuito.</p>
          </div>
          <div class="tw-space-y-4 my-4">
            <p class="tw-font-normal"> O mapa sobrepõe camadas de informação que visam relacionar o saber científico (dados de órgãos oficiais coletados por meio de pesquisas como Censo Demográfico, Censo Escolar etc.) ao saber popular (dados levantados por cidadãos a partir de suas observações e vivências cotidianas). </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>
      </div>
    </div>
  </template>