<template>
  <v-app>
    <v-app-bar density="compact" absolute>
      <v-app-bar-nav-icon @click="drawer = !drawer" />
      <v-app-bar-title @click="$router.push('/')">CE Protótipo - Plataforma</v-app-bar-title>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" temporary>
      <v-list>
        <v-list-item v-for="(item, index) in menu" :key="index" :to="item.to">
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <router-view />
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
const drawer = ref(false);
const menu = ref([
  { title: "1a Tela - Mapas", to: { name: "Maps" } },
]);
</script>
