<template>
  <div class="tw-h-screen tw-w-screen">
    <div ref="mapContainer" class="tw-flex tw-h-full" />
  </div>
</template>

<script lang="ts" setup>
import { onMounted } from "vue";
import {
  Map,
  TileLayer,
  Marker,
  Circle,
} from "leaflet";
import "leaflet/dist/leaflet.css";
import { ref } from "vue";

const {
  VITE_GEOSERVER_URL_WMS,
  VITE_GEOSERVER_WORKSPACE,
  VITE_GEOSERVER_LAYER_SETORES,
  VITE_GEOSERVER_LAYER_EQUIPAMENTOS_ESCOLAS,
  VITE_INITIAL_LONGITUDE,
  VITE_INITIAL_LATITUDE,
  VITE_INITIAL_MAP_ZOOM,
} = import.meta.env;

const initialValues = {
  longitude: Number(VITE_INITIAL_LONGITUDE),
  latitude: Number(VITE_INITIAL_LATITUDE),
  zoom: Number(VITE_INITIAL_MAP_ZOOM),
  circleRadiusM: 1000,
};

const tileLayerOptions = {
  url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  maxZoom: 18,
};

/**
 * TODO:
 * - Criar objeto de geoserver "generalizado" (pra aceitar vários setores)
 * - Criar config "generalizada" de setores (ideia: "src/mappings")
 */
const geoserver = {
  url: VITE_GEOSERVER_URL_WMS,
  layers: {
    setores: {
      layers: `${VITE_GEOSERVER_WORKSPACE}:${VITE_GEOSERVER_LAYER_SETORES}`,
      format: "image/png",
      transparent: true,
      attribution: "CulturaEduca",
      cql_filter: `DWITHIN(geom, POINT(${initialValues.longitude} ${initialValues.latitude}), ${initialValues.circleRadiusM}, meters)`,
    },
    escolas: {
      layers: `${VITE_GEOSERVER_WORKSPACE}:${VITE_GEOSERVER_LAYER_EQUIPAMENTOS_ESCOLAS}`,
      format: "image/png",
      transparent: true,
      attribution: "CulturaEduca",
    },
  },
};

const mapContainer = ref();

let map: Map;
let tiles: TileLayer;
let setoresWmsLayer: TileLayer.WMS;
let escolasWmsLayer: TileLayer.WMS;
let marker: Marker;
let circle: Circle;

function initMap() {
  // Init map
  map = new Map(mapContainer.value, { preferCanvas: true }).setView(
    { lat: initialValues.latitude, lng: initialValues.longitude },
    initialValues.zoom
  );

  // Add tiles - OpenStretMap tiles
  tiles = new TileLayer(tileLayerOptions.url, {
    attribution: tileLayerOptions.attribution,
    maxZoom: tileLayerOptions.maxZoom,
  });
  tiles.addTo(map);

  setoresWmsLayer = new TileLayer.WMS(geoserver.url, geoserver.layers.setores);
  setoresWmsLayer.addTo(map);

  escolasWmsLayer = new TileLayer.WMS(geoserver.url, geoserver.layers.escolas);
  escolasWmsLayer.addTo(map);

  // Add marker
  marker = new Marker({
    lat: initialValues.latitude,
    lng: initialValues.longitude,
  });
  marker.addTo(map);

  // Add circle
  circle = new Circle(marker.getLatLng(), {
    radius: initialValues.circleRadiusM,
    color: "red",
    fillColor: "red",
    fillOpacity: 0.25,
  });
  circle.addTo(map);
}

onMounted(() => {
  initMap();
});
</script>

<style scoped></style>
