<template>
  <!-- SNACKBAR -->
  <v-snackbar
    v-model="snackbar.show"
    :timeout="snackbar.timeout"
    :color="snackbar.color"
    max-width="400px"
  >
    <div class="font-weight-medium">{{ snackbar.message }}</div>
    <template v-slot:actions>
      <v-btn v-if="error" icon="mdi-dots-horizontal" @click="dialog = true" />
      <v-btn variant="text" @click="snackbar.show = false"> OK </v-btn>
    </template>
  </v-snackbar>
  <!-- DIALOG DETAILS -->
  <v-dialog v-model="dialog" width="960">
    <v-card v-if="error" color="error" variant="flat" :title="error.message">
      <v-card-text class="pb-5">
        <!-- ERROR RESPONSE -->
        <template v-if="errorResponseData">
          <div>Response</div>
          <v-alert color="black" class="mb-4">
            <pre>{{ errorResponseData }}</pre>
          </v-alert>
        </template>
        <!-- ERROR STACK -->
        <template v-if="errorStackItems">
          <div>Stack</div>
          <v-alert color="black" class="text-body-2" max-height="300">
            <v-virtual-scroll :height="200" :items="errorStackItems">
              <template v-slot:default="{ item, index }">
                <p style="font-family: monospace">
                  <span v-text="index" class="text-grey mr-2" />
                  <span v-text="item" />
                </p>
              </template>
            </v-virtual-scroll>
          </v-alert>
        </template>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { ref, computed, onMounted, onUnmounted } from "vue";
import {
  EventBus,
  SnackbarAlertEventKey,
  SnackbarAlertEventOptions,
} from "@/plugins/eventBus";

const snackbar = ref({
  show: false,
  message: "",
  timeout: 3000,
  color: "",
});
const dialog = ref(false);
const error = ref(null);

const errorResponseData = computed<any>(() => {
  return error.value?.response?.data || null;
});

const errorStackItems = computed<string[]>(() => {
  return (error.value?.stack || [])
    .split("\n")
    .map((el) => el.trim())
    .filter((el) => !!el);
});

onMounted(() => {
  EventBus.on(SnackbarAlertEventKey, (options: SnackbarAlertEventOptions) => {
    snackbar.value.show = true;
    snackbar.value.timeout = options.timeout;
    snackbar.value.color = options.color;
    snackbar.value.message =
      options?.message ||
      (options?.error
        ? options.error.response?.data?.message ||
          options.error.message ||
          "Error"
        : "");
    error.value = options.error;
  });
});

onUnmounted(() => {
  EventBus.off(SnackbarAlertEventKey);
});
</script>
