<template>
  <v-dialog
    :value="props.value"
    @update:model-value="updateModelValue"
    :width="props.width"
  >
    <v-card>
      <v-card-item>
        <v-card-title> Create version </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <VersionsFormCreateUpdate
          :catalogId="props.catalogId"
          @cancel="updateModelValue(false)"
          @version-created="emit('version-created', $event)"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { Version } from "@backPrisma/generated/client";

import VersionsFormCreateUpdate from "./VersionsFormCreateUpdate.vue";

// PROPS
export interface Props {
  catalogId: number;
  value?: boolean;
  width?: number | string;
}
const props = withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
  (e: "version-created", version: Version): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}
</script>
