<template>
  <div>
    <v-form ref="formRef">
      <v-row dense>
        <v-col cols="12">
          <v-text-field
            v-model="form.name"
            label="Name *"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="form.description"
            label="Description"
            rows="2"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model="form.initialDate"
            label="Initial date"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model="form.endDate"
            label="Initial date"
            variant="outlined"
          />
        </v-col>
      </v-row>
    </v-form>

    <div class="d-flex justify-space-between align-center">
      <v-btn
        prepend-icon="mdi-close"
        variant="outlined"
        :loading="loading.save"
        @click="cancel()"
      >
        Cancel
      </v-btn>
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        variant="flat"
        :loading="loading.save"
        @click="save()"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";

import requester from "@/requester";

import { Version } from "@backPrisma/generated/client";
import { CreateVersionDto, UpdateVersionDto } from "@backSrc/versions/dto";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

// PROPS
export interface Props {
  catalogId: number;
  version?: Version;
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "version-created", version: Version): void;
  (e: "version-updated", version: Version): void;
  (e: "cancel"): void;
}>();

const loading = ref({
  save: false,
});

const formRef = ref();
const form = ref({
  name: "",
  description: "",
  initialDate: "",
  endDate: "",
});

const rules = ref({
  required: [(v: string) => !!v || "Required"],
});

onMounted(() => {
  fillForm();
});

function fillForm() {
  if (!props.version) return;
  form.value.name = props.version.name || "";
  form.value.description = props.version.description || "";
  form.value.initialDate = props.version.initialDate?.toISOString() || "";
  form.value.endDate = props.version.endDate?.toISOString() || "";
}

function clearForm() {
  form.value.name = "";
  form.value.description = "";
  form.value.initialDate = "";
  form.value.endDate = "";
}

const cancel = ref(() => {
  emit("cancel");
});

const save = ref(async () => {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;

  loading.value.save = true;
  try {
    const dto: CreateVersionDto = {
      name: form.value.name?.trim() || null,
      description: form.value.description?.trim() || null,
      initialDate: form.value.initialDate?.trim() || null,
      endDate: form.value.endDate?.trim() || null,
    };
    if (props.version) {
      const attribute = await requester.versions.update(
        props.version.id,
        dto as UpdateVersionDto
      );
      emit("version-updated", attribute);
      emitAlertSuccess("Version successfully updated");
    } else {
      const attribute = await requester.catalogs.createVersion(
        props.catalogId,
        dto
      );
      emit("version-created", attribute);
      emitAlertSuccess("Version successfully created");
    }
    clearForm();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.save = false;
  }
});
</script>
