<template>
  <div ref="mapContainer" style="width: 100%; height: 100%" />
  <div
    style="position: fixed; padding-top: 60px; top: 0; right: 0; z-index: 1000"
  >
    <v-card title="Teste" width="400">
      <v-card-text>
        <v-slider
          label="Raio"
          v-model="sliderRadiusM"
          :min="500"
          :max="10000"
          :step="500"
          :hint="`${sliderRadiusM / 1000} km`"
          persistent-hint
          thumb-label
          @update:model-value="onUpdateSliderRadiusM"
        ></v-slider>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts" setup>
import { onMounted } from "vue";
import {
  Map,
  TileLayer,
  Marker,
  Circle,
} from "leaflet";
import "leaflet/dist/leaflet.css";
import { ref } from "vue";
import { debounce } from "lodash";
import applyRadiusFilter from "../../utils/maps/filters";

const {
  VITE_GEOSERVER_URL_WMS,
  VITE_GEOSERVER_WORKSPACE,
  VITE_GEOSERVER_LAYER_SETORES,
  VITE_GEOSERVER_LAYER_EQUIPAMENTOS_ESCOLAS,
  VITE_INITIAL_LONGITUDE,
  VITE_INITIAL_LATITUDE,
  VITE_INITIAL_MAP_ZOOM,
} = import.meta.env;

const initialValues = {
  longitude: Number(VITE_INITIAL_LONGITUDE),
  latitude: Number(VITE_INITIAL_LATITUDE),
  zoom: Number(VITE_INITIAL_MAP_ZOOM),
  circleRadiusM: 1000,
};

const tileLayerOptions = {
  url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  maxZoom: 18,
};

/**
 * TODO:
 * - Criar objeto de geoserver "generalizado" (pra aceitar vários setores)
 * - Criar config "generalizada" de setores (ideia: "src/mappings")
 */
const geoserver = {
  url: VITE_GEOSERVER_URL_WMS,
  layers: {
    setores: {
      layers: `${VITE_GEOSERVER_WORKSPACE}:${VITE_GEOSERVER_LAYER_SETORES}`,
      format: "image/png",
      transparent: true,
      attribution: "CulturaEduca",
      cql_filter: `DWITHIN(geom, POINT(${initialValues.longitude} ${initialValues.latitude}), ${initialValues.circleRadiusM}, meters)`,
    },
    escolas: {
      layers: `${VITE_GEOSERVER_WORKSPACE}:${VITE_GEOSERVER_LAYER_EQUIPAMENTOS_ESCOLAS}`,
      format: "image/png",
      transparent: true,
      attribution: "CulturaEduca",
    },
  },
};

const sliderRadiusM = ref(initialValues.circleRadiusM);

const mapContainer = ref();

let map: Map;
let tiles: TileLayer;
let setoresWmsLayer: TileLayer.WMS;
let escolasWmsLayer: TileLayer.WMS;
let marker: Marker;
let circle: Circle;

function initMap() {
  // Init map
  map = new Map(mapContainer.value, { preferCanvas: true }).setView(
    { lat: initialValues.latitude, lng: initialValues.longitude },
    initialValues.zoom
  );

  // Add tiles - OpenStretMap tiles
  tiles = new TileLayer(tileLayerOptions.url, {
    attribution: tileLayerOptions.attribution,
    maxZoom: tileLayerOptions.maxZoom,
  });
  tiles.addTo(map);

  setoresWmsLayer = new TileLayer.WMS(geoserver.url, geoserver.layers.setores);
  setoresWmsLayer.addTo(map);

  escolasWmsLayer = new TileLayer.WMS(geoserver.url, geoserver.layers.escolas);
  escolasWmsLayer.addTo(map);

  // Add marker
  marker = new Marker({
    lat: initialValues.latitude,
    lng: initialValues.longitude,
  });
  marker.addTo(map);

  // Add circle
  circle = new Circle(marker.getLatLng(), {
    radius: initialValues.circleRadiusM,
    color: "red",
    fillColor: "red",
    fillOpacity: 0.25,
  });
  circle.addTo(map);
}

/**
 * Atualiza o raio do círculo e os setores filtrados por ele.
 */
function onUpdateSliderRadiusM(value: number) {
  if (!circle) return;
  circle.setRadius(value);
  updateCqlFilter(value);
}

/**
 * Atualiza o filtro de raio para uma layer arbitrária.
 * TODO:
 * - Generalizar essa função pra atualizar todos os setores que devem ser filtrados por raio;
 * - Armazenar quais setores são, de fato, filtrados e rodar um "forEach" dentro dessa função?
 * - Suportar tipos diferentes de raio (?)
 * - Extrair a updateCqlFilter em si é uma boa ideia ou eu estou generalizando cedo demais?
 */
const updateCqlFilter = debounce(function (radius: number) {
  if (!setoresWmsLayer || !marker) return;
  applyRadiusFilter(radius, setoresWmsLayer, marker);
}, 666);

onMounted(() => {
  initMap();
});
</script>

<style scoped></style>
