<template>
  <div ref="mapContainer" style="width: 100%; height: 100%" />
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { CRS, Map, TileLayer, WMSOptions } from "leaflet";
import "leaflet/dist/leaflet.css";
import { emitAlertError } from "@/plugins/eventBus";

// PROPS
export interface Props {
  layer: string;
}
const props = defineProps<Props>();

// DATA

const mapContainer = ref();

const tileLayerOptions = {
  url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  maxZoom: 18,
};

const geoserverUrl = "http://localhost:8088/geoserver/wms";
const geoserverWorkspace = "culturaeduca";

const wmsLayerOptions: WMSOptions = {
  layers: `${geoserverWorkspace}:${props.layer}`,
  format: "image/png",
  transparent: true,
  attribution: "CulturaEduca",
  crs: CRS.EPSG4326,
};

let map: Map;
let tiles: TileLayer;
let wmsLayer: TileLayer.WMS;

// METHODS

function initMap() {
  map = new Map(mapContainer.value, { preferCanvas: true }).setView(
    { lat: -14.235, lng: -51.9253 },
    4
  );

  // Add tiles
  tiles = new TileLayer(tileLayerOptions.url, {
    attribution: tileLayerOptions.attribution,
    maxZoom: tileLayerOptions.maxZoom,
  });
  tiles.addTo(map);

  wmsLayer = new TileLayer.WMS(geoserverUrl, wmsLayerOptions);
  wmsLayer.addTo(map);

  // Listen for the tileerror event
  wmsLayer.on("tileerror", emitAlertError);
}

// ON MOUNTED
onMounted(() => {
  initMap();
});
</script>
