<template>
  <div v-if="catalog">
    <!-- BREADCRUMBS -->
    <v-breadcrumbs class="pa-0 mb-2 text-body-2 text-medium-emphasis">
      <v-breadcrumbs-item class="pl-0" :to="{ name: 'CatalogsIndex' }">
        Catalogs
      </v-breadcrumbs-item>
      <v-breadcrumbs-divider />
      <v-breadcrumbs-item
        :to="{ name: 'CatalogsView', params: { catalogId: catalog.id } }"
      >
        Catalog {{ catalog.id }}
      </v-breadcrumbs-item>
      <template v-if="version">
        <v-breadcrumbs-divider />
        <v-breadcrumbs-item
          :to="{
            name: 'VersionsView',
            params: { catalogId: catalog.id, versionId: version.id },
          }"
        >
          Version {{ version.id }}
        </v-breadcrumbs-item>
        <template v-if="dataIngestion">
          <v-breadcrumbs-divider />
          <v-breadcrumbs-item
            :to="{
              name: 'DataIngestionsView',
              params: {
                catalogId: catalog.id,
                versionId: version.id,
                dataIngestionId: dataIngestion.id,
              },
            }"
          >
            Data Ingestion {{ dataIngestion.id }}
          </v-breadcrumbs-item>
        </template>
      </template>
    </v-breadcrumbs>
    <div class="d-flex align-center">
      <v-icon :icon="catalogTypeIcon" class="mr-2" />
      <h1 class="text-h5">
        <span v-text="catalog.name" />
        <template v-if="version">
          <span class="mx-2" v-text="'-'" />
          <span v-text="version.name" />
        </template>
      </h1>
    </div>
    <!-- <p class="text-caption text-disabled two-lines">
      <span v-text="catalog.description || 'No description'" />
      <template v-if="version">
        <span class="mx-1" v-text="'-'" />
        <span v-text="version.description || 'No description'" />
      </template>
    </p> -->
    <v-divider class="mt-1 mb-2" />

    <!-- ROUTER VIEW -->
    <router-view v-if="loadRouterView" />
  </div>
</template>

<script setup lang="ts">
import { ref, computed, provide, watch, onMounted, Ref } from "vue";
import { useRoute } from "vue-router";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import { Catalog, DataIngestion, Version } from "@backPrisma/generated/client";
import { getCatalogTypeIcon } from "@/utils/catalogs-helper.utils";
import { socket } from "@/plugins/socketIo";

// DATA

const route = useRoute();

const catalogId = computed(() =>
  route.params?.catalogId ? Number(route.params.catalogId as string) : 0
);
const versionId = computed(() =>
  route.params?.versionId ? Number(route.params.versionId as string) : 0
);
const dataIngestionId = computed(() =>
  route.params?.dataIngestionId
    ? Number(route.params.dataIngestionId as string)
    : 0
);

const catalog = ref<Catalog>(null);
provide<Ref<Catalog>>("catalog", catalog);

const version = ref<Version>(null);
provide<Ref<Version>>("version", version);

const dataIngestion = ref<DataIngestion>(null);
provide<Ref<DataIngestion>>("dataIngestion", dataIngestion);

const catalogTypeIcon = computed(() => getCatalogTypeIcon(catalog.value.type));

const loadRouterView = computed(() => {
  if (catalogId.value && !catalog.value) return false;
  if (versionId.value && !version.value) return false;
  if (dataIngestionId.value && !dataIngestion.value) return false;
  return true;
});

// WATCH

watch(catalogId, () => {
  findCatalog(catalogId.value);
});

watch(versionId, () => {
  findVersion(versionId.value);
});

watch(dataIngestionId, () => {
  findDataIngestion(dataIngestionId.value);
});

// EVENTS

socket.on("dataIngestionLog.created", (...args) => {
  const dataIngestionId = args?.[0]?.dataIngestionId;
  if (dataIngestionId === dataIngestion.value?.id) {
    findDataIngestion(dataIngestion.value?.id);
  }
});
socket.on("dataIngestionLog.removed", (...args) => {
  const dataIngestionId = args?.[0]?.dataIngestionId;
  if (dataIngestionId === dataIngestion.value?.id) {
    findDataIngestion(dataIngestion.value?.id);
  }
});

// ON MOUNTED
onMounted(() => {
  findCatalog(catalogId.value);
  findVersion(versionId.value);
  findDataIngestion(dataIngestionId.value);
});

// METHODS

async function findCatalog(catalogId: number) {
  if (!catalogId) return;
  try {
    catalog.value = await requester.catalogs.findOne(catalogId);
    if (version.value && version.value.catalogId !== catalog.value.id) {
      version.value = null;
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function findVersion(versionId: number) {
  if (!versionId) {
    version.value = null;
    return;
  }
  try {
    const resDataVersion = await requester.versions.findOne(versionId);
    if (resDataVersion.catalogId !== catalogId.value) {
      throw new Error("This version doesn't belong to this catalog!");
    }
    version.value = resDataVersion;
  } catch (err) {
    emitAlertError(err);
  }
}

async function findDataIngestion(dataIngestionId: number) {
  if (!dataIngestionId) {
    dataIngestion.value = null;
    return;
  }
  try {
    const resDataDataIngestion = await requester.dataIngestions.findOne(
      dataIngestionId
    );
    if (resDataDataIngestion.versionId !== versionId.value) {
      throw new Error("This data ingestion doesn't belong to this version!");
    }
    dataIngestion.value = resDataDataIngestion;
  } catch (err) {
    emitAlertError(err);
  }
}
</script>

<style scoped>
.two-lines {
  line-height: 1.5em;
  max-height: 3em; /* 1.5em (line-height) * 2 (lines) */
  overflow: hidden;
  text-overflow: ellipsis; /* optional, to show that text has been cut off */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
</style>
