<template>
  <div v-if="catalog">
    <!-- TABS -->
    <v-tabs color="primary" class="my-2">
      <v-tab
        :to="{
          name: 'CatalogsView',
          params: {
            catalogId: catalog.id,
          },
        }"
        exact
      >
        Details
      </v-tab>
      <v-tab
        :to="{
          name: 'CatalogsViewVersions',
          params: {
            catalogId: catalog.id,
          },
        }"
        exact
      >
        Versions
      </v-tab>
    </v-tabs>

    <!-- ROUTER VIEW -->
    <router-view />
  </div>
</template>

<script setup lang="ts">
import { inject, Ref } from "vue";

import { Catalog } from "@backPrisma/generated/client";

// INJECT
const catalog = inject<Ref<Catalog>>("catalog");
</script>
