<template>
  <!-- APP BAR -->
  <v-app-bar absolute flat color="primary">
    <v-app-bar-nav-icon @click="drawer = !drawer" />
    <router-link :to="{ name: 'Home' }" class="text-decoration-none text-white">
      <v-app-bar-title>CE Protótipo - Data Pipeline</v-app-bar-title>
    </router-link>
  </v-app-bar>
  <!-- NAVIGATION DRAWER -->
  <v-navigation-drawer v-model="drawer" temporary>
    <v-list>
      <v-list-item
        v-for="(item, index) in menu"
        :key="index"
        :to="item.to"
        :exact="item.exact"
      >
        <template v-slot:prepend>
          <v-icon :icon="item.icon" class="mr-3" />
        </template>
        <v-list-item-title>{{ item.title }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
  <!-- MAIN -->
  <v-main>
    <v-container :fluid="containerFluid">
      <router-view />
    </v-container>
  </v-main>
</template>

<script lang="ts" setup>
import { computed, ref } from "vue";
import vuetify from "@/plugins/vuetify";

const containerFluid = computed(
  () => vuetify.display.mdAndUp.value && vuetify.display.lgAndDown.value
);

const drawer = ref(false);
const menu = ref([
  {
    title: "Catalogs",
    to: { name: "CatalogsIndex" },
    exact: true,
    icon: "mdi-list-box",
  },
  {
    title: "Geoserver Layers",
    to: { name: "GeoserverLayersIndex" },
    exact: true,
    icon: "mdi-layers",
  },
]);
</script>
