<template>
  <div v-if="version">
    <!-- TABS -->
    <v-tabs color="primary" class="my-2">
      <v-tab
        :to="{
          name: 'VersionsView',
          params: {
            catalogId: version.catalogId,
            versionId: version.id,
          },
        }"
        exact
      >
        Details
      </v-tab>
      <v-tab
        :to="{
          name: 'VersionsViewAttributes',
          params: {
            catalogId: version.catalogId,
            versionId: version.id,
          },
        }"
        exact
      >
        Attributes
      </v-tab>
      <v-tab
        :to="{
          name: 'VersionsViewDataIngestions',
          params: {
            catalogId: version.catalogId,
            versionId: version.id,
          },
        }"
        exact
      >
        Data Ingestions
      </v-tab>
      <v-tab
        :to="{
          name: 'VersionsViewData',
          params: {
            catalogId: version.catalogId,
            versionId: version.id,
          },
        }"
        exact
      >
        Data
      </v-tab>
    </v-tabs>

    <!-- ROUTER VIEW -->
    <router-view />
  </div>
</template>

<script setup lang="ts">
import { inject, Ref } from "vue";

import { Version } from "@backPrisma/generated/client";

// INJECT
const version = inject<Ref<Version>>("version");
</script>
